<ion-header>
  <ion-navbar color="light">
    <ion-title>
صفحتى    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  

<section *ngIf="userLocal" id="hero"></section>
  <ion-card *ngIf="userLocal" id="user-info">

    <ion-avatar>
      <!--<ion-icon *ngIf="userLocal.gender == 'male'" name="person" color="primaryDark"></ion-icon>-->
      <img *ngIf="userLocal.gender == 'male'" width="70" src="../../assets/img/male-alt.png">
      <!--<ion-icon *ngIf="userLocal.gender == 'female'" name="woman" color="primaryDark"></ion-icon>-->
      <img *ngIf="userLocal.gender == 'female'" width="70" src="../../assets/img/female-alt.png">
    </ion-avatar>
    <h1><b>{{userLocal.name}}</b>
      <p>{{userLocal.username}}</p>
    </h1>
    <hr>
    <p>
      <ion-icon name="card"></ion-icon>  {{userLevel(userLocal.level_id)}}</p>
    <p>
      <ion-icon name="mail"></ion-icon>  {{userLocal.email}}</p>

     <p><ion-icon name="phone-portrait"></ion-icon>  {{userLocal.mobile}}</p> 
    <!-- test data <pre>
        {{userLocal | json}}
      </pre> -->
  </ion-card>

  <ion-card id="notLggin" *ngIf="userLocal == null || userLocal == undefined">
    <p>انت غير مسجل لدينا اذا كنت تملك حساب فقم بتسجيل الدخول</p>
    <button ion-button (click)="navigateToPage('Login')">تسجيل الدخول</button>
    <p>او قم بتسجيل حساب جديد</p>
    <button ion-button (click)="navigateToPage('Signup')">تسجيل حساب جديد</button>
  </ion-card>
</ion-content>