page-followings {
  ion-content {
    ion-list {
      ion-item {
        border-bottom: 1px solid #eee !important;
        .item-inner {
          border-bottom: none !important;
        }
        ion-avatar {
          border-radius: 5px;
          border: 1px dashed color($colors, primary);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
