<ion-tabs *ngIf="localUser&&localUser.level_id == 2" #appTabs color="primary" id="main-tabs" color="light">
  <ion-tab
  [root]="tab1Root"
   tabTitle="الرئيسية"
   tabIcon="home-outline"
   icon-on="home-ios-outline"
   icon-off="home-ios-outline"
   ></ion-tab>

  <ion-tab
    [root]="tab2Root"
    tabTitle="صفحتى"
    tabIcon="person-outline"
    icon-on="person-ios-outline"
    icon-off="person-ios-outline"
    ionSelect="selectCamera()"
  ></ion-tab>

  <ion-tab
  [root]="tab3Root"
  tabTitle="الكاميرا"
  tabIcon="camera-outline"
  icon-off="camera-ios-outline"
  icon-on="camera-ios-outline"
   ionSelect="selectCamera()"
></ion-tab>


  <ion-tab
    [root]="tab4Root"
    tabTitle="اشعارات"
    tabIcon="notifications-outline"
  ></ion-tab>


  <ion-tab
  [root]="tab5Root"
  tabTitle="اعدادات"
  tabIcon="settings-outline"
  ></ion-tab>
</ion-tabs>


<ion-tabs *ngIf="!localUser||localUser.level_id != 2"  #appTabs color="primary" id="main-tabs" color="light">
  <ion-tab
  [root]="tab1Root"
    tabTitle="الرئيسية"
    tabIcon="home-outline"
    icon-on="home-ios-outline"
    icon-off="home-ios-outline"
    ></ion-tab>

  <ion-tab
    [root]="tab2Root"
    tabTitle="صفحتى"
    tabIcon="person-outline"
    icon-on="person-ios-outline"
    icon-off="person-ios-outline"
      ionSelect="selectCamera()"
  ></ion-tab>



  <ion-tab
    [root]="tab4Root"
    tabTitle="اشعارات"
    tabIcon="notifications-outline"
  ></ion-tab>


  <ion-tab
  [root]="tab5Root"
  tabTitle="اعدادات"
  tabIcon="settings-outline"
  ></ion-tab>
</ion-tabs>


<!--
<ion-tabs color="primary" >
  <ion-tab [root]="tab1Root"  tabIcon="home"></ion-tab>
  <ion-tab [root]="tab3Root"  tabIcon="chatboxes"></ion-tab>
  <ion-tab [root]="tab4Root"  tabIcon="notifications"></ion-tab>
  <ion-tab [root]="tab2Root"  tabIcon="person"></ion-tab>
  <ion-tab [root]="tab5Root"  tabIcon="settings"></ion-tab>
</ion-tabs> -->
