<ion-header>

  <ion-navbar color="primary">
    <ion-title>صفحة شخصية</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-card *ngIf="userData; else noUser" id="user-info">
    <section id="hero">
      <img *ngIf="userData.cover" [src]="imagePath('covers',userData.cover)" alt="">
    </section>

    <ion-card>
      <ion-grid>
        <ion-row>

          <ion-col col-3>

            <ion-avatar>

              <img *ngIf="userData.avatar;else avatarIcon" [src]="imagePath('avatars',userData.avatar)" alt="">
              <ng-template #avatarIcon>
                <img class="avatar-alt" *ngIf="userData.gender == 'male'" width="70" src="assets/img/male-alt.png">

                <img class="avatar-alt" *ngIf="userData.gender == 'female'" width="70" src="assets/img/female-alt.png">
              </ng-template>

            </ion-avatar>
            <div class="clearfix"></div>
          </ion-col>

          <ion-col>
            <h4>{{userData.name}}</h4>
            <div id="rank">
              <ion-icon name="star" color="yellow"></ion-icon>
              <ion-icon name="star" color="yellow"></ion-icon>
              <ion-icon name="star" color="yellow"></ion-icon>
              <ion-icon name="star" color="yellow"></ion-icon>
              <ion-icon name="star-outline" color="light"></ion-icon>
              &nbsp;
              <span class="user-rank">4</span> / 5
            </div>

            <div id="profile-buttons">

              <button ion-button color="primary" small class="follow-btn" [outline]="!userData.follow"
                      (click)="follow(userData.id)">
                <ion-icon name="person"></ion-icon>
                <span *ngIf="!userData.follow;else followed">متابعة</span>
                <ng-template #followed>
               <span>
                 الغاء متابعة
               </span>
                </ng-template>
              </button>

              <button ion-button color="primary" small outline
                      (click)="navigateToPage('MessagePage', 'messageData', userData.name, userData.id)">
                <ion-icon name="chatboxes"></ion-icon>
                راسلنا
              </button>
            </div>

          </ion-col>

        </ion-row>
      </ion-grid>


      <div id="profile-follow">
        <a color="primary" (click)="navigateToPage('FollowersPage', userData.id)">
          <ion-icon name="people"></ion-icon>
          المتابِعون

          <span class="following">{{userData.followers}}</span>
        </a>

        <a color="primary" (click)="navigateToPage('FollowingsPage', userData.id)">
          <ion-icon name="people"></ion-icon>
          المتابَعون <span class="followers">
             {{userData.followings}}
          </span>

        </a>
      </div>
      <div class="map-btn">

        <button (click)="openBrowserMap()" ion-button full clear text-center>
          <ion-icon name="pin" color="primary"></ion-icon> &nbsp;
          المكان على الخريطة
        </button>
      </div>
      <div id="page-segments" padding
           [hidden]="!userLocal || userData.level_id == 3 || userLocal.level_id == 2||userLocal.level_id == 4|| userData.level_id == 4">
        <ion-segment [(ngModel)]="showContent">

          <ion-segment-button value="products" (click)="getProducts()">
            المنتجات
          </ion-segment-button>

          <ion-segment-button value="shelfs" (click)="getShelfs()">
            الرفوف
          </ion-segment-button>
        </ion-segment>
      </div>


    </ion-card>

  </ion-card>

  <ion-card class="show-card" *ngIf="showContent == 'products'">

    <p text-center *ngIf="noAcceptedItems">
      <br> لا يوجد منتجات
    </p>
    <p text-center *ngIf="noProducts== 'empty'">
      <br> لا يوجد منتجات
    </p>

    <!-- list for stores delivered products-->
    <ion-grid padding-horizontal>
      <ion-row *ngFor="let products of ItemsDelivered">

        <ion-col col-6 *ngFor="let product of products;let i = index">
          <div class="col-content" (click)="navigateToPage('ProductPage', product.item_id)">

            <img
              [src]="product.item_image?'templates/default/uploads/items'+product.item_image:'assets/img/adds_02.png'"
              alt="">

            <p class="prod-desc" text-center>
              {{product.item_name}}
            </p>
            <p class="price" text-center>
              الكمية : &nbsp;
              <span class="prod-price"><b>{{product.item_quantity}}</b></span>
            </p>

            <!--<a href="">ابلاغ عن مخالفة</a>-->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>


    <p text-center *ngIf="netError" class="small">
      التطبيق يتطلب اتصال بالانترنت
    </p>
    <p text-center *ngIf="noProducts" class="small">
      لا يوجد منتجات
    </p>
    <ion-grid padding-horizontal>
      <ion-row *ngFor="let products of allProducts">
        <ion-col col-6 *ngFor="let product of products;let i = index">
          <div class="col-content" (click)="navigateToPage('ProductPage', product.id)">
            <img [src]="(product.item_image)?'templates/default/uploads/items'+product.item_image:'assets/img/adds_02.png'" alt="">

            <p class="prod-desc">
              {{limitString(product.item_desc)}}
            </p>
            <p class="price">
              <span class="prod-price"><b>{{product.item_price}}</b></span> ريال
            </p>

            <!--<a href="">ابلاغ عن مخالفة</a>-->
          </div>

          <div class="prodcut-controls" (click)="showProductSettings($event, product, i)">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <ion-list no-lines class="product-settings" hidden [attr.id]='i'>
            <!--
              <ion-item (click)="editProduct(product)">
                <ion-icon color="primary" name="open-outline" item-left></ion-icon>
                <ion-label>تعديل المنتج</ion-label>
              </ion-item>
              <ion-item (click)="deleteProduct(product)">
                <ion-icon color="primary" name="trash-outline" item-left> </ion-icon>
                <ion-label>حذف المنتج</ion-label>
              </ion-item>
              -->
            <ion-item (click)="navigateToPage('ProductreportPage', product)">
              <ion-icon color="primary" name="warning-outline" item-left></ion-icon>
              <ion-label>ابلاغ عن المنتج</ion-label>
            </ion-item>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>
    <p text-center *ngIf="showLoader">
      <hsa-loader></hsa-loader>
    </p>

  </ion-card>


  <!-- products tab -->


  <ion-card class="show-card" *ngIf="showContent == 'shelfs'">
    <p text-center *ngIf="netError" class="small">
      التطبيق يتطلب اتصال بالانترنت
    </p>
    <p text-center *ngIf="noShelfs" class="small">
      لا يوجد رفوف
    </p>
    <ion-list>

      <ion-item (click)="showShelf(shelf)" *ngFor="let shelf of allShelfs; let i = index">
        <div class="shelf-id">
          <p>رقم الرف <span>{{shelf.name}} </span></p>
          <ion-badge>المساحة : {{shelf.area}} متر</ion-badge>
        </div>
        <hr>
        <div class="shelf-status">
          <div class="reserved">
            <span *ngIf="shelf.shelf_status == 0">غير محجوز</span>
            <ion-badge *ngIf="shelf.shelf_status == 1">
              محجوز حتى {{shelf.end_date | date:'longDate'|arabicdate}}
            </ion-badge>
          </div>


          <div class="shelf-controls">
            <ion-badge>السعر : {{shelf.cost}} ريال</ion-badge>

            <!--  <ion-icon name="open-outline" (click)="editShelf('AddshelfPage', shelf)"></ion-icon>
        <ion-icon name="trash-outline" (click)="deleteShelf(shelf)"></ion-icon>-->
          </div>
        </div>
      </ion-item>

      <p text-center *ngIf="showLoader">
        <hsa-loader></hsa-loader>
      </p>

    </ion-list>
  </ion-card>
  <!-- shelfs tab -->


  <ng-template #noUser>
    <p text-center>
      <hsa-loader></hsa-loader>
    </p>
  </ng-template>


</ion-content>
