page-editprofile {

 ion-content {
     .scroll-content {
         background-color: #ddd;
     }
       // direction: rtl;
        #user-info {
            //margin-top: -30px !important;
            ion-avatar {
                margin-top: -20px !important;
                display: flex;
                justify-content: center;
                align-items: center;
                border:4px solid #fff;
                position: relative;
                ion-icon:first-of-type {
                    font-size: 75px;
                }
                ion-icon:last-of-type {
                    position: absolute;
                    bottom: 5px;
                    right: 0px;
                    font-weight: bolder;
                    border: 1px solid #8BC34A;
                    color: #8BC34A;
                    border-radius: 50%;
                    padding: 5px;
                    background-color: #fff;
                    width: 25px;
                    height: 25px;
                    text-align: center;line-height: 15px
                }
            }
        }
ion-buttons {
        display: inline-flex;
        flex-flow: row;
        justify-content: center;flex-direction: row;
                //background: red;
                margin:0 12px;
                button {
                    margin: 0;
                    //width: 49%;
                    flex: 1
                }
            }
        ion-card {
            overflow: visible;
            padding: 0 !important;
            padding: 5px;
            
            ion-list {
                .form-edit {
                    display: none;
                    padding: 10px;
                    background-color: #eee;
                    ion-input {
                        .text-input {
                            background-color: #fff; 
                            padding: 10px;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                        }
                        
                    }
                }
            }
            ion-avatar {
                width: 100px;
                height: 100px;
                margin: 0 auto;
                background-color: #eee;
                border-radius: 50%;

            }
            h1 {
                direction:rtl; 
                text-align: center;
                font-weight: bold;
                color: skyblue;
                text-shadow: 1px 1px #666;
                p {
                    text-shadow: none;
                }
            }
            p {
                ion-icon {
                    font-size: 25px;
                    min-width: 30px;
                    text-align: center;
                    color: #999
                }
            }

        }
   }
}
