page-editprofile {
    ion-item-divider {
      padding-right: 10px !important;
      height: 40px;
      color: color($colors, primaryDark) !important;

    }
    
    ion-content {
     .scroll-content {
         background-color: #eee;
     }
     
   #loader {
     position: relative;
     z-index: 5999;
     width: 20px;
     height: 20px;
     //background-color: red;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     margin: 0 10px;
     .loader-circle {
       width: 80%;
       height: 80%;
       border-radius: 50%;
       border:2px solid transparent;
       border-top-color: color($colors, light);
       animation: loader 0.6s linear infinite;

     }
     @keyframes loader {
       to {
         transform: rotate(360deg);
       }
     }
   }

     #personal-info {
         ion-item {
             ion-grid {
                 ion-row {
                     ion-col {

                         &:last-child {
                             ion-icon {
             position: absolute;
             left: 5px;
             opacity: 0;
             z-index: 10
         }
                     }
                         }
                 }
             }
         }
     }
     .input-as-text {
         border: none;
         border-bottom: 1px solid transparent;
         border-radius: 4px;
         transition: background-color 0.2s linear,border-bottom 0.2s ease;
         width: 100%;
         padding:  5px 5px 2px;
       &.ng-dirty.ng-invalid {
         border-bottom: 1px solid #ffe8bf;
       }
         &:focus {
             background-color: #f5f5f5;
             &+ion-icon {
             opacity: 1 !important;
             z-index: 15
         }
         }

     }
     select {
         border: none;
       width: 95%;
       background-color: transparent;
     }
      ion-list {
        margin-top: 20px;
        .item-inner {
          border-bottom:0.5px solid color($colors, bgColor) !important
          }



      ion-item {
          height: 45px;
        color: color($colors, primaryDark) !important;
        font-weight:bold;
        padding-left: 0 !important;
         font-size:15px !important;

        &.item-ios {
          padding-left: 0;
        }
        ion-grid {
            padding: 5px 0 !important;
            ion-row {
                ion-col {
                  &.modal {
                    padding-right: 5px !important;
                  }
                    display: flex;
                    align-items: center;
                    padding-right: 0 !important;
                    white-space:normal;
                    position: relative;
                    &:last-of-type {
                       // background-color: red;
                        justify-content: space-between;
                        ion-icon {
                            margin-left: 10px !important;
                            font-weight: bold;
                            //font-size: 30px;
                        }
                    }
                    &.location-title {
                        text-align: center;
                        margin-right: -10px;
                    }
                    &.location-place {
                        display: flex;
                        align-items: center;
                        ion-icon {
                          margin-left: 0 !important;
                         margin-right: 10px !important;
                         font-size: 22px;
                                               }
                    }

                }

            }
        }
        ion-icon {
          margin: 0 0 0 15px ;
          font-size: 15px;
          &:last-of-type {
            font-size: 18px;
            line-height:28px;
          }
        }
        .item-block {
          .item-inner {
            border-bottom:0
          }
        }


      }
    }

     #form-button {
           position: fixed;
           bottom: 0;
           left: 0;
           height: 40px;
           font-size: 14px;
           margin: 0;
           z-index: 999
         }

ion-buttons {
        display: inline-flex;
        flex-flow: row;
        justify-content: center;flex-direction: row;
                //background: red;
                margin:0 12px;
                button {
                    margin: 0;
                    //width: 49%;
                    flex: 1
                }
            }
        ion-card {
            overflow: visible;
            padding: 0 !important;
            padding: 5px;

            ion-list {
                .form-edit {
                    display: none;
                    padding: 10px;
                    background-color: #eee;
                    ion-input {
                        .text-input {
                            background-color: #fff;
                            padding: 10px;
                            border: 1px solid #ccc;
                            border-radius: 5px;
                        }

                    }
                }
            }
            ion-avatar {
                width: 100px;
                height: 100px;
                margin: 0 auto;
                background-color: #eee;
                border-radius: 50%;

            }
            h1 {
                direction:rtl;
                text-align: center;
                font-weight: bold;
                color: skyblue;
                text-shadow: 1px 1px #666;
                p {
                    text-shadow: none;
                }
            }
            p {
                ion-icon {
                    font-size: 25px;
                    min-width: 30px;
                    text-align: center;
                    color: #999
                }
            }

        }
   }
}
