<!--
  Generated template for the Exporter page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="light">
    <ion-title>صفحة الموردين</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >


  <button type="button" id="modal-button"
        color="light"
        (click)="openSearchModal()" >

  <div class="btn-icon">
    <ion-icon item-right id="search-icon"  name="funnel-outline"></ion-icon>
  </div>
  <div id="search-result" >
      <div *ngIf="dataFromModal">
        <span *ngFor="let searched of dataFromModal"> {{searched.name}}</span>
        </div>

    </div>



  </button>
  <!-- List of the neerer exporters -->
  <ion-list padding no-lines>
    <ion-item no-padding margin-bottom>
      <div class="item-avatar" item-right></div>
      <h2>Exporter 1</h2>
      <div class="exporter-info">
        <p><span class="kilos">2</span> Km</p>
        <p><span class="stars">5</span> start</p>
      </div>
    </ion-item>
    <ion-item no-padding margin-bottom>
      <div class="item-avatar" item-right></div>
      <h2>Exporter 1</h2>
      <div class="exporter-info">
        <p><span class="kilos">2</span> Km</p>
        <p><span class="stars">5</span> start</p>
      </div>
    </ion-item>
    <ion-item no-padding margin-bottom>
      <div class="item-avatar" item-right></div>
      <h2>Exporter 1</h2>
      <div class="exporter-info">
        <p><span class="kilos">2</span> Km</p>
        <p><span class="stars">5</span> start</p>
      </div>
    </ion-item>
    <ion-item no-padding margin-bottom>
      <div class="item-avatar" item-right></div>
      <h2>Exporter 1</h2>
      <div class="exporter-info">
        <p><span class="kilos">2</span> Km</p>
        <p><span class="stars">5</span> start</p>
      </div>
    </ion-item>
    <ion-item no-padding margin-bottom>
      <div class="item-avatar" item-right></div>
      <h2>Exporter 1</h2>
      <div class="exporter-info">
        <p><span class="kilos">2</span> Km</p>
        <p><span class="stars">5</span> start</p>
      </div>
    </ion-item>
    <ion-item no-padding margin-bottom>
      <div class="item-avatar" item-right></div>
      <h2>Exporter 1</h2>
      <div class="exporter-info">
        <p><span class="kilos">2</span> Km</p>
        <p><span class="stars">5</span> start</p>
      </div>
    </ion-item>
    <ion-item no-padding margin-bottom>
      <div class="item-avatar" item-right></div>
      <h2>Exporter 1</h2>
      <div class="exporter-info">
        <p><span class="kilos">2</span> Km</p>
        <p><span class="stars">5</span> start</p>
      </div>
    </ion-item>
    <ion-item no-padding margin-bottom>
      <div class="item-avatar" item-right></div>
      <h2>Exporter 1</h2>
      <div class="exporter-info">
        <p><span class="kilos">2</span> Km</p>
        <p><span class="stars">5</span> start</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
