* {
  box-sizing: border-box;
}
page-exporter {
  ion-content {
    #modal-button{
      background-color: #fff;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 15px;
      line-height: 15px;
      ion-icon {
        font-size: 20px;
      }
      #search-result{
        min-width: 100px;
        //background: red;
        display: inline-flex;
        //margin: 10px;

        height: 30px;
        align-items: center;
        span {
          text-align: right;
            min-width: 50px;
          //background-color: blue;
          margin: 5px;
          position: relative;
          &:after {
            content: '';
            position: absolute;
            left: -2px;
            top: -2px;
            width: 15px;
            border-radius: 2px;
            height: 15px;
            border: 2px solid transparent;
            transform: rotate(45deg);
           // background-color: #888;
            border-bottom-color: #ddd;
            border-left-color: #ddd

          }
          &:last-child {
            &:after {
              content : '';
              display: none;
            } 
          }

        }
      }
    }
    
    ion-input {
      .input-cover {
        background-color: #fff;
        z-index:-1
      }
    }
    .scroll-content {
      background-color: #ddd;
    }
    #hero {
      background: #517fa4;
      background: -webkit-linear-gradient(to right, #517fa4, #243949);
      background: linear-gradient(to right, #517fa4, #243949);
      height: 100px;
      width: 100%;
      //box-shadow: inset  0 -5px 25px #999;
      display: flex;
      justify-content: center;
      align-items: center;
      h1 {
        color: #fff
      }
    }

    ion-list {
      ion-item {
          
        &.item-md {
          margin-top: 10px;
          padding-left: 0;
          padding-right: 16px;
        }
        .item-ios [item-left] {
          margin: 0 10px 0 0
        }
        ion-avatar [item-left], .item-md, .item-avatar, .item-md [item-left] {
        margin-top: 0 !important;
        margin-bottom: 0 !important;

      }
        .item-avatar {

          width: 80px;
          height: 75px;
          background: radial-gradient(#ccc,#999)
        }
        .exporter-info {
        
          padding-right: 10px;
          padding-left: 10px;
          //background-color: #ccc;
          display: flex;
          justify-content: space-between;

          .kilos, .stars {
            font-size: 20px;
            color: #007aff;
          }
        }
      }

    }
  }
}
