<ion-header>

  <ion-navbar color="primary">
    <!-- <ion-title>الموردين</ion-title> -->
    <!-- ahmed ouda edit -->
    <ion-title *ngIf="!showSearchBar">الموردين</ion-title>
    <ion-searchbar *ngIf="showSearchBar" #searchbar [(ngModel)]="searchVal" (click)="filterExporters($event)" placeholder="البحث باسم المورد .." (ionCancel)="onCancel($event)">
    </ion-searchbar>
    <ion-buttons end >
      <button ion-button  icon-only (click)="clickedSearchIcon()">
          <ion-icon name="search" *ngIf="!showSearchBar"></ion-icon>
          <ion-icon name="close" *ngIf="showSearchBar"></ion-icon>
      </button>
    </ion-buttons>
    <!-- ahmed ouda end edit -->
  </ion-navbar>
  <ion-toolbar>
    <button type="button" id="modal-button" color="light" (click)="navigateToPlacesPage('placesPage','exporter',0)">

      <div class="btn-icon">
        <ion-icon item-right id="search-icon" name="funnel-outline"></ion-icon>
      </div>
      <div id="search-result">
        <div *ngIf="dataFromModal" class="found-data">
          <span *ngFor="let searched of dataFromModal"> {{searched.name}}</span>
        </div>
        <div *ngIf="!dataFromModal" class="no-data">
          <span color="primary">المدينة</span>
          <ion-icon name="arrow-back"></ion-icon>
        </div>
      </div>
    </button>
  </ion-toolbar>
</ion-header>


<ion-content>


  <p text-center *ngIf="locationError" class="small">
    {{locationError}}
  </p>

  <p text-center *ngIf="!showLoader && allExporters.length == 0">
    لا توجد نتائج لهذا البحث
  </p>

  <ion-refresher (ionRefresh)="refreshExporter($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="اسحب لتحديث المحتوى" refreshingSpinner="circles"
                           refreshingText="جلب المحتوى">

    </ion-refresher-content>
  </ion-refresher>
  <p text-center *ngIf="netError" class="err-small">
    <ion-icon name="ios-wifi"></ion-icon>
    التطبيق يتطلب اتصال بالانترنت. <span><br> تفقد الاتصال وحاول مجددا</span>
  </p>
  <p text-center *ngIf="showLoader == true">
    <hsa-loader></hsa-loader>
  </p>


  <ion-list  no-lines>
    <ion-item
      *ngFor="let exporter of allExporters"
      (click)="navigateToPage('VprofilePage', exporter.id)"
      no-padding margin-bottom="4px" text-start>
      <div class="item-avatar" item-left>
         <img *ngIf="!exporter.avatar" src="assets/img/store_col.png" alt="">
        <img *ngIf="exporter.avatar" src="{{UPLOAD_PATH}}avatars/{{exporter.avatar}}" width="52" height="51" alt="">
     </div>
      <h2>

        {{exporter.name}}
        <!-- <ion-icon name="pin"></ion-icon> -->
      </h2>
      <div class="exporter-info" *ngIf="exporter.distance">
        <p><span class="kilos">{{twoDigitsFloats(exporter.distance)}}</span> ك.م</p>
        <!--
        <p><span class="stars">5</span> نجوم</p>
        -->
      </div>
    </ion-item>

  </ion-list>

  <p class="small" padding text-center *ngIf="!moreData">
    لا يوجد محتوى آخر
  </p>


  <ion-infinite-scroll position="200" *ngIf="moreData" (ionInfinite)="fetchMoreData($event)">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="جلب مزيد من المحتوى...">
      >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
