<ion-header>

  <ion-navbar color="primary">
    <ion-title>عرض المنتج</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <p text-center *ngIf="showLoader">
    <hsa-loader></hsa-loader>
  </p>
  <section id="product-wrapper" *ngIf="productData">


    <section id="hero">
      <!--<img src="/../../assets/img/adds_01.png" width="100%" height="100%"> -->
      <ion-slides *ngIf="productData.item_images.length > 0">
        <ion-slide *ngFor="let image of productData.item_images">
          <img [src]="'templates/default/uploads/items'+image" alt="">
        </ion-slide>
      </ion-slides>
      <!-- for developing -->
      <ion-slides pager="true">
        <ion-slide>
          <img src="assets/img/adds_02.png" width="100%" height="100%">
        </ion-slide>
        <ion-slide>
          <img src="assets/img/adds_02.png" width="100%" height="100%">
        </ion-slide>
        <ion-slide>
          <img src="assets/img/adds_02.png" width="100%" height="100%">
        </ion-slide>
      </ion-slides>
    </section>



    <section id="product">
      <h4> {{ productData['item_name'] }}</h4>
      <p class="price"><span>{{ productData['item_price'] }}</span> ريال</p>
      <p class="description">
        {{productData['item_desc']}}
      </p>
      <div class="product-date" *ngIf="productData.item_expiry_date=='0000-00-00'&& productData.item_production_date=='0000-00-00'">
        <p>انتاج: <span class="production-date">{{productData['item_production_date'] }}</span></p>
        <p>انتهاء: <span class="expire-date">{{productData['item_expiry_date']}}</span></p>
      </div>

    </section>

    <section id="comments-wrapper">
      <section id="add-comment">
        <textarea #commentInput class="add-input"></textarea>
        <button type="button" ion-button (click)="addComment(commentInput.value)">اضف تعليق</button>
      </section>
      <ion-list>

        <ion-item-divider>
          <div class="product-states">
            <p>
              الاراء
              <span class="reviews"> (5) </span>
            </p>
            <p>
              الاعجابات
              <span class="likes">(15)</span>
            </p>

          </div>
        </ion-item-divider>
        <ion-item>
          <ion-avatar item-left>
            <img src="assets/img/male-alt.png" alt="male">
          </ion-avatar>
          <div class="message-sender">
            <h4>محمد أحمد</h4>
            <div class="message-et">
              <ion-icon name="timer-outline"></ion-icon>
              منذ
              <span>يومان</span>
            </div>
          </div>
          <p> بسم الله الرحمن الرحيم وعليه نتوكل المرجو العلم من الرسالة</p>
        </ion-item>
        <ion-item>
          <ion-avatar item-left>
            <img src="assets/img/male-alt.png" alt="male">
          </ion-avatar>
          <div class="message-sender">
            <h4>محمد أحمد</h4>
            <div class="message-et">
              <ion-icon name="timer-outline"></ion-icon>
              منذ
              <span>يومان</span>
            </div>
          </div>
          <p> بسم الله الرحمن الرحيم وعليه نتوكل المرجو العلم من الرسالة</p>
        </ion-item>

        <ion-item>
          <ion-avatar item-left>
            <img src="assets/img/female-alt.png" alt="female">
          </ion-avatar>
          <div class="message-sender">

            <h4>محمد أحمد</h4>

            <div class="message-et">
              <ion-icon name="timer-outline">

              </ion-icon>
              منذ
              <span>يومان</span>
            </div>
          </div>
          <p>بسم الله الرحمن الرحيم وعليه نتوكل المرجو العلم من الرسالة</p>
        </ion-item>
      </ion-list>
      <div class="float-buttons">
        <button ion-button clear>
      <ion-icon name="heart-outline"></ion-icon>
    </button>
        <button ion-button clear>
      <ion-icon name="chatbubbles-outline"></ion-icon>
    </button>
      </div>
      <div class="margin-div"></div>

    </section>

  </section>
</ion-content>