<ion-header>

  <ion-navbar color="primary">
    <ion-title>عرض المنتج</ion-title>
    <ion-buttons *ngIf="isModal"  end>
      <button ion-button class="close-btn" (click)="closeModal()">
          <ion-icon name="md-close-circle" color="light"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
  
</ion-header>


<ion-content>

  <p text-center *ngIf="showLoader">
    <hsa-loader></hsa-loader>
  </p>
  <section id="product-wrapper" *ngIf="productData">


    <section id="hero">
      <!--<img src="/../../assets/img/adds_01.png" width="100%" height="100%"> -->
      <ion-slides pager="true" autoplay="6000" loop="true" *ngIf="productData.item_images.length > 0;else noImages">
        <ion-slide *ngFor="let img of productData.item_images">
          <img [src]="imageItemsPath(img['image'])" alt="">
        </ion-slide>
      </ion-slides>
      <!-- for developing -->
      <ng-template #noImages>
        <ion-slides pager="true">
          <ion-slide>
            <img src="assets/img/no_image.png" width="100%" height="100%">
          </ion-slide>
          <ion-slide>
            <img src="assets/img/no_image.png" width="100%" height="100%">
          </ion-slide>
          <ion-slide>
            <img src="assets/img/no_image.png" width="100%" height="100%">
          </ion-slide>
        </ion-slides>
      </ng-template>
      
    </section>


    <section id="product">
      <h4> {{ productData['item_name'] }}</h4>
      <p class="price"><span>{{ productData['item_price'] }}</span> ريال</p>
      <p class="description">
        {{productData['item_desc']}}
      </p>
      <div class="product-date"
           *ngIf="productData.item_expiry_date!='0000-00-00'&& productData.item_production_date!='0000-00-00'">
        <!-- <p>انتاج: <span
        class="production-date">{{productData['item_production_date'] | date:'longDate' | arabicdate}}</span></p> -->
        <p>انتاج: <span
          class="production-date">{{productData['item_production_date']}}</span></p>
        <p>انتهاء: <span class="expire-date">{{productData['item_expiry_date']}}</span>
        </p>
      </div>

    </section>

    <section id="comments-wrapper">
      <ion-item-divider color="bgColor">
        <div class="product-states">
          <p>
            الاراء
            <span class="reviews"> ({{productData.commentsCount}}) </span>
          </p>
          <p>
            الاعجابات
            <span class="likes">({{productData.likesCount}})</span>
          </p>

        </div>
      </ion-item-divider>

      <p text-center class="small" *ngIf="NoComments">
        لا يوجد اراء
      </p>
      <section [hidden]="!showAddComment" id="add-comment">
        <textarea #commentInput (input)="watchHeight($event)" class="add-input"></textarea>
        <button type="button" ion-button (click)="addComment(commentInput.value)">اضف تعليق</button>
      </section>

      <ion-list>
        <ion-item *ngFor="let comment of productData.comments">
          <ion-avatar item-left (click)="visitProfile(comment.id)">
            <img [src]="(comment.avatar)?imagePath(comment.avatar):'assets/img/male-alt.png'" alt="male">
          </ion-avatar>
          <div class="message-sender">
            <h4>{{comment.name}}</h4>
            <div class="message-et">
              <ion-icon name="timer-outline"></ion-icon>
              
              <span>{{comment.date_added | amTimeAgo}}</span>
            </div>
          </div>
          <p>{{comment.comment_text}}</p>
        </ion-item>

      </ion-list>





      <div class="float-buttons" >
        <button ion-button clear (click)="likeProduct()">
          <ion-icon [name]="!productData.like?'heart-outline':'heart'" [color]="(!productData.like)?'primary':'danger'"></ion-icon>
        </button>
        <button ion-button clear (click)="commentProduct()">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </button>
      </div>
      <div class="margin-div"></div>

    </section>

  </section>
</ion-content>
