page-product {
  * {
    font-size: 16px;
  }
  ion-content {

    &.content {
      background-color: #eee;

    }
    ion-slides {
      direction: ltr;
    }
    .margin-div {
      width:100%;
      height: 50px;
    }
    #comments-wrapper {
      .product-states {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        padding-right :  5px ;
        color: color($colors, primary);
        p {
          margin-bottom:  0;
          color: color($colors, primaryDark);
          span {
            color: color($colors, primary);
          }
        }
      }
      #add-comment {
        padding: 0 13px 13px 13px;
            text-align: center;
        textarea {
          resize: none;
        display: block;
          padding: 5px;
    width: 100%;
    margin:  0 auto 5px;
    border: 1px solid #d6d6d6;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px #eee;
    box-shadow: inset 0 1px #eee;
    /* height: 58px; */
    color: #555;
        }
      }
    }
    .float-buttons {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 50px;
      display: flex;
      justify-content: center;
      background-color: color($colors, light);
      border-top: 1px solid #ccc;
      box-shadow: 0 -1px  3px #eee;
      button {
        flex: 1;
        //background-color: #007aff;
        //border: 1px solid red;
        height: 100%;
        margin: 0;
        border-radius: 0;
        border-left: 1px solid #eee;

        &:last-child {
          border-left: none
        }
        span {
          ion-icon {
            font-size: 30px !important;
          }
        }
      }
    }
    #hero {
      height: 150px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    #product {
      background-color: color($colors, light);
      padding: 10px 14px;
      h4 {
        font-size: 16px;
        margin-top: 0;
        font-weight: bold;
          color: color($colors, primaryDark);
      }
      p {
        margin-top: 0;
        text-align: right;
        line-height: 1.4;
        &.price {
          color: color($colors, primary);
          margin-bottom: 2px;
          margin-top: -5px;
        }
        &.description {
          min-height: 50px;
          color: color($colors, primaryDark);
          font-size: 15px;
        }
      }
      .product-date {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        color: #999;
        align-items: center;
        height: 20px;
        p {
          margin-top: 2px;
        }
      }

    }

    ion-list {
      ion-item-divider {
        height: 20px;
        background-color: #eee !important;

      }

          ion-item {
            border-bottom: 1px solid #eee !important;
            .item-inner {
              border-bottom: none !important;
            }
        ion-avatar {
          border-radius: 5px;
         // border: 1px dashed color($colors, primary);
         background-color: #eee;
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          img {
            width: 50px !important;
            height: 50px !important;
            border-radius: 0 !important;
          }
        }
        .message-sender {
          display: flex;
          justify-content: space-between;
          h4 {
            //margin-top: -5px !important;
            color: color($colors, primary);
          }
          .message-et {
            font-size: 12px;
            //color: color($colors, primaryDark);
            color: #999;
            span {
              font-size: 12px;
            }
          }
        }

        p {
          min-height: 35px;
          max-height: 70px;
          white-space: pre-wrap;
          font-size: 14px;
        }
      }
    }

  }
}
