<ion-header>

  <ion-navbar color="primary">
    <ion-title>عرض المنتج</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <p text-center *ngIf="showLoader">
    <hsa-loader></hsa-loader>
  </p>
  <section id="product-wrapper" *ngIf="productData">


    <section id="hero">
      <!--<img src="/../../assets/img/adds_01.png" width="100%" height="100%"> -->
      <ion-slides *ngIf="productData.item_images.length > 0">
        <ion-slide *ngFor="let image of productData.item_images">
          <img [src]="'templates/default/uploads/items'+image" alt="">
        </ion-slide>
      </ion-slides>
      <!-- for developing -->
      <ion-slides pager="true">
        <ion-slide>
          <img src="assets/img/adds_02.png" width="100%" height="100%">
        </ion-slide>
        <ion-slide>
          <img src="assets/img/adds_02.png" width="100%" height="100%">
        </ion-slide>
        <ion-slide>
          <img src="assets/img/adds_02.png" width="100%" height="100%">
        </ion-slide>
      </ion-slides>
    </section>


    <section id="product">
      <h4> {{ productData['item_name'] }}</h4>
      <p class="price"><span>{{ productData['item_price'] }}</span> ريال</p>
      <p class="description">
        {{productData['item_desc']}}
      </p>
      <div class="product-date"
           *ngIf="productData.item_expiry_date!='0000-00-00'&& productData.item_production_date!='0000-00-00'">
        <p>انتاج: <span
          class="production-date">{{productData['item_production_date'] | date:'longDate' | arabicdate}}</span></p>
        <p>انتهاء: <span class="expire-date">{{productData['item_expiry_date'] | date:'longDate' | arabicdate}}</span>
        </p>
      </div>

    </section>

    <section id="comments-wrapper">
      <ion-item-divider color="bgColor">
        <div class="product-states">
          <p>
            الاراء
            <span class="reviews"> ({{productData.commentsCount}}) </span>
          </p>
          <p>
            الاعجابات
            <span class="likes">({{productData.likesCount}})</span>
          </p>

        </div>
      </ion-item-divider>

      <p text-center class="small" *ngIf="NoComments">
        لا يوجد اراء
      </p>


      <ion-list>
        <ion-item *ngFor="let comment of productData.comments">
          <ion-avatar item-left>
            <img [src]="(comment.avatar)?'link'+comment.avatar:'assets/img/male-alt.png'" alt="male">
          </ion-avatar>
          <div class="message-sender">
            <h4>{{comment.name}}</h4>
            <div class="message-et">
              <ion-icon name="timer-outline"></ion-icon>
              منذ
              <span>{{comment.date_added | sincedate}}</span>
            </div>
          </div>
          <p>{{comment.comment_text}}</p>
        </ion-item>

      </ion-list>

      <section [hidden]="!showAddComment" id="add-comment">
        <textarea #commentInput (input)="watchHeight($event)" class="add-input"></textarea>
        <button type="button" ion-button (click)="addComment(commentInput.value)">اضف تعليق</button>
      </section>



      <div class="float-buttons" >
        <button ion-button clear (click)="likeProduct()">
          <ion-icon [name]="!productData.like?'heart-outline':'heart'" [color]="(!productData.like)?'primary':'danger'"></ion-icon>
        </button>
        <button ion-button clear (click)="commentProduct()">
          <ion-icon name="chatbubbles-outline"></ion-icon>
        </button>
      </div>
      <div class="margin-div"></div>

    </section>

  </section>
</ion-content>
