%flex-between {
    display: flex;
    justify-content: space-between;
}
page-profile {

    ion-header {
        ion-navbar {
            ion-title {
                .toolbar-title {
            font-size: 20px;
            color: color($colors, light) !important
          }
            }
        }
    }

    ion-content {
        &.content {
            background-color: color($colors, bgColor);
        }
        .clearfix {
            clear: both
        }
        ion-card {

            &:first-child {

            }

            margin: 0 !important;
            width : 100% !important;
            padding: 0 !important;
            box-shadow: none !important;
            overflow: visible;
            &.show-card {
                color: red;
                background: transparent !important;
                margin-top: 10px;
                text-align: center;
                box-shadow: none;

                ion-list {
                    background-color: transparent !important;
                }
                ion-grid {
                    padding-top: 5px !important;
                    ion-row {
                        flex-wrap: wrap;
                        ion-col {

                            margin-bottom: 5px;
                            padding: 2px;
                            &:last-child {
                                margin:0
                            }
                            .col-content {
                                min-height: 120px;
                                background-color: #fff;

                                img {
                                    width: 100%;
                                    height: 100px;
                                }
                                p {
                                    &.prod-desc {
                                        color: color($colors, primary); font-size: 12px;

                                    }
                                    &.price {
                                        margin:-12px auto;
                                    }

                                    text-align: right;
                                     padding: 6px;
                                }
                                a {
                                    font-size: 8px;
                                    display: block;
                                    text-align: left;
                                    padding: 0 6px

                                }
                            }
                        }
                    }
                }
            }
            &#notLggin {
                    border: none;
                    /*box-shadow: 2px 2px 10px #ccc;*/
                    background: #f4f4f4;
                    box-shadow: none;
                    //background: none;
                    text-align: center;
                    transform: translateY(50%)
            }
            #hero {
            /*background: #517fa4;
            background: -webkit-linear-gradient(to right, #517fa4, #243949);
            background: linear-gradient(to right, #517fa4, #243949);*/

            background:linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.15) 25%,rgba(0, 0, 0, 0.15) 26%, transparent 50%), radial-gradient(#d0d5da, #e3e8ec) ;
            height: 120px;
            width: 100%;
            //box-shadow: inset  0 -5px 25px #999;
            display: flex;
            justify-content: center;
            align-items: center;
            }
            #page-segments {


            }
            ion-grid {
                ion-row {
                    ion-col{
                        ion-avatar {
                margin-top: -55px ;
                width: 70px;
                height: 70px;
                background-color: #ccc;
                border-radius: 50%;
                border: 3px solid color($colors, light);
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                box-shadow: 1px 1px 2px #999;
                ion-icon {
                    position: absolute;
                    bottom: 0;
                    color: color($colors, light);
                    //font-weight: bold;
                    text-shadow: 1px 1px #555
                }
                img {
                    width:100%;
                    height: 100%;
                }

            }
            h4 {
                color: color($colors, light) ;
                text-shadow: 1px 1px 4px #444;
            }
                        button {
                            font-size: 12px;
                        }
                        &:last-child {
                            margin-top: -54px;
                        }
                    }
                }
            }
            #rank {
                color: color($colors, light);
                text-shadow: 1px 1px 4px #444;

            }
            #profile-buttons {
                @extend %flex-between;
                button {
                    ion-icon {
                        margin-left: 4px;
                    }
                }
            }
            #profile-follow {
                @extend %flex-between;
                margin: -10px auto;
                p {
                    color: color($colors, primary);
                    ion-icon {
                        margin-left: 5px;

                    }
                    span {
                      margin-right: 5px;
                    }

                }
            }

        }




    }
}
