<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      صفحتى
    </ion-title>
    <ion-buttons start>
      <ion-spinner *ngIf="uploadLoader" small name="crescent" color="light"></ion-spinner>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <span *ngIf="uploadErr">{{uploadErr | json}}</span>
  <ion-card *ngIf="userLocal" id="user-info">
    <section id="hero">
      <img *ngIf="userLocal.cover" [src]="imagePath('covers',userLocal.cover)" alt="user background image">
      <button type="button" class="pick-image" (click)="pickImage('cover')"><ion-icon name="camera-outline"></ion-icon></button>
    </section>

    <ion-card>
      <ion-grid>
        <ion-row>

          <ion-col col-3>

            <ion-avatar>
              <button type="button" class="pick-image" (click)="pickImage('avatar')">
               <ion-icon name="camera-outline"></ion-icon>
              </button>
              <img *ngIf="userLocal.avatar;else avatarIcon" [src]="imagePath('avatars',userLocal.avatar)" alt="">
              <ng-template #avatarIcon>
                <img class="avatar-alt" *ngIf="userLocal.gender == 'male'" width="70" src="assets/img/male-alt.png">

                <img class="avatar-alt" *ngIf="userLocal.gender == 'female'" width="70" src="assets/img/female-alt.png">
              </ng-template>

            </ion-avatar>
            <div class="clearfix"></div>
          </ion-col>

          <ion-col>
            <h4>{{userLocal.name}}</h4>
            <div id="rank">
              <ion-icon name="star" color="yellow"></ion-icon>
              <ion-icon name="star" color="yellow"></ion-icon>
              <ion-icon name="star" color="yellow"></ion-icon>
              <ion-icon name="star" color="yellow"></ion-icon>
              <ion-icon name="star-outline" color="light"></ion-icon>
              &nbsp;
              <span class="user-rank">4</span> / 5
            </div>

            <div id="profile-buttons">

              <button (click)="navigateToPage('Editprofile')" ion-button color="primary" small outline>
              <ion-icon name="person"></ion-icon>
             تعديل البيانات
            </button>

              <button ion-button color="primary" small outline (click)="navigateToPage('Messages')">
              <ion-icon name="chatboxes"></ion-icon>
           الرسائل
          </button>
            </div>

          </ion-col>

        </ion-row>
      </ion-grid>

      <div id="profile-follow">
        <a color="primary" (click)="navigateToPage('FollowersPage', userLocal.id)">
          <ion-icon name="people"></ion-icon>
          المتابِعون

          <span class="following">{{userLocal.followers}}</span>
        </a>

        <a color="primary" (click)="navigateToPage('FollowingsPage', userLocal.id)">
          <ion-icon name="people"></ion-icon>
          المتابَعون <span class="followers">{{userLocal.followings}}</span>

        </a>
      </div>
      <div class="map-btn">

        <button (click)="openBrowserMap()" ion-button full clear text-center>
          <ion-icon name="pin" color="primary"></ion-icon> &nbsp;
          المكان على الخريطة
          </button>
      </div>
      <span class="small-height" *ngIf="userLocal.level_id == 4">&nbsp;</span>
      <div id="page-segments" padding *ngIf="userLocal&&userLocal.level_id != 4">
        <ion-segment [(ngModel)]="showContent">

          <ion-segment-button value="products" (click)="getProducts(userLocal.id)">
            المنتجات
          </ion-segment-button>

          <ion-segment-button value="shelfs" (click)="getShelfs(userLocal.id)">
            الرفوف
          </ion-segment-button>
        </ion-segment>
      </div>



    </ion-card>

  </ion-card>
  <div class="clearfix"></div>
  <ion-card *ngIf="showContent == 'shelfs' && userLocal" class="show-card shelfcard">


    <!-- add loADER -->
    <!--<ion-scroll scrollY="true">


          <ion-refresher (ionRefresh)="refreshShelfs($event)">
              <hsa-loader></hsa-loader>
          </ion-refresher>

          </ion-scroll> -->

    <ion-list *ngIf="userLocal.level_id==2">

      <p text-center *ngIf="noShelfs=='empty'">
        <br> لم يتم اضافة رفوف حتى الان
      </p>
      <p text-center *ngIf="noShelfs =='netErr'">
        <br> التطبيق يتطلب اتصال بالانترنت
        <br>
        <!-- <span [change]="{prop:'font-size', value: '30px'}" text-center><ion-icon name="refresh"></ion-icon></span>-->
      </p>

      <ion-item *ngFor="let shelf of AllShelfs; let i = index">
        <div class="shelf-id" (click)="showShelf(shelf)">
          <p>رقم الرف <span>{{shelf.name}} </span></p>
        </div>
        <hr>
        <div class="shelf-status">
          <div class="reserved">
            <span *ngIf="shelf.shelf_status == 0 || shelf.shelf_status == 2">غير محجوز</span>
            <span *ngIf="shelf.shelf_status == 1">
                  محجوز حتى
                  <ion-badge color="bgColor">{{shelf.end_date}}</ion-badge>
                </span>
          </div>
          <div class="shelf-controls">
            <ion-icon name="open-outline" (click)="editShelf('AddshelfPage', shelf)"></ion-icon>
            <ion-icon name="trash-outline" (click)="deleteShelf(shelf)"></ion-icon>
          </div>
        </div>
      </ion-item>



      <p text-center *ngIf="showLoader">
        <hsa-loader></hsa-loader>
      </p>

    </ion-list>


    <ion-list *ngIf="userLocal.level_id==3">

      <p text-center *ngIf="noShelfs=='empty'">
        <br> لم يتم اضافة رفوف حتى الان
      </p>
      <p text-center *ngIf="noShelfs =='netErr'">
        <br> التطبيق يتطلب اتصال بالانترنت
        <br>
        <!-- <span [change]="{prop:'font-size', value: '30px'}" text-center><ion-icon name="refresh"></ion-icon></span>-->
      </p>

      <ion-item class="shelfRequest" *ngFor="let request of AllShelfs; let i = index" (click)="navigateToPage('VprofilePage', [request.matger_id, userLocal.id])">
        <p>
          رقم الرف :
          <span>

          {{request.shelf_name}}
        </span>
          <span>
          &nbsp; &gt; &nbsp;
          {{request.matger_name}}
        </span>
          <span>
<ion-badge [color]="(request.shelf_status == 1)?'primary':((request.shelf_status == 2)?'danger':'bgColor')" item-left>
  <span *ngIf="request.shelf_status == 1">مقبول</span>
          <span *ngIf="request.shelf_status == 2">رفض</span>
          <span *ngIf="request.shelf_status == 0">معلق</span>

          </ion-badge>
          </span>

        </p>

        <p>
          <span>
         <span class="prim">بداية الحجز :</span> {{request.start_date}}
          </span>
          <span>
        <span class="prim">نهاية الحجز :</span> {{request.end_date}}
          </span>
        </p>
      </ion-item>



      <p text-center *ngIf="showLoader">
        <hsa-loader></hsa-loader>
      </p>

    </ion-list>

    <!--  shelfs for stores and exporter -->


  </ion-card>

  <ion-card *ngIf="showContent == 'products' && userLocal " class="show-card products-card">

  
    <p text-center *ngIf="noAcceptedItems">
      <br> لا يوجد منتجات تم قبول تسليمها حتى الان
    </p>
    <p text-center *ngIf="noProducts== 'empty'">
      <br> لا يوجد منتجات حتى الان ليتم عرضها
    </p>
    <p text-center *ngIf="netErr">
      <br> التطبيق يتطلب اتصال بالانترنت
    </p>

    <!-- list for stores delivered products-->
    <ion-grid padding-horizontal *ngIf="ItemsDelivered">
      <ion-row *ngFor="let products of ItemsDelivered">
        <ion-col col-6 *ngFor="let product of products;let i = index">
          <div class="col-content" (click)="navigateToPage('ProductPage', product.item_id)">

            <img [src]="(product.item_image)?imagePath('items',product.item_image):'assets/img/no_image.png'" alt="product">

            <p class="prod-desc" text-center>
              {{product.item_name}}
            </p>
            <p class="price" text-center>
              الكمية : &nbsp;
              <span class="prod-price"><b>{{product.item_quantity}}</b></span>
            </p>

            <!--<a href="">ابلاغ عن مخالفة</a>-->
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- list for exporter products -->
    <ion-grid padding-horizontal *ngIf="AllProducts">
      <ion-row *ngFor="let products of AllProducts">
        <ion-col col-6 *ngFor="let product of products;let i = index">
          <div class="col-content" (click)="navigateToPage('ProductPage', product.id)">

            <img [src]="(product.item_image)?imagePath('items',product.item_image):'assets/img/no_image.png'" alt="product">
            
            <p class="prod_name">{{product.item_name}}</p>
            <p class="prod-desc">
              {{limitString(product.item_desc)}}
            </p>
            <p class="price">
              <span class="prod-price"><b>{{product.item_price}}</b></span> ريال
            </p>
            <!--<a href="">ابلاغ عن مخالفة</a>-->
          </div>

          <div  class="prodcut-controls" (click)="showProductSettings($event, product, i)">
            <span></span>
            <span></span>
            <span></span>
          </div>

          <ion-list no-lines class="product-settings" *ngIf="product.showControls" [attr.id]='i'>
            <ion-item (click)="editProduct(product)">
              <ion-icon color="primary" name="open-outline" item-left></ion-icon>
              <ion-label>تعديل المنتج</ion-label>
            </ion-item>
            <ion-item (click)="deleteProduct(product)">
              <ion-icon color="primary" name="trash-outline" item-left> </ion-icon>
              <ion-label>حذف المنتج</ion-label>
            </ion-item>

            <ion-item [hidden]="userLocal.level_id == 3" (click)="navigateToPage('ProductreportPage', product)">
              <ion-icon color="primary" name="warning-outline" item-left></ion-icon>
              <ion-label>ابلاغ عن المنتج</ion-label>
            </ion-item>
          </ion-list>

        </ion-col>
      </ion-row>
    </ion-grid>
    <p text-center *ngIf="showLoader">
      <hsa-loader></hsa-loader>
    </p>

    <!--
          <ion-infinite-scroll (ionInfinite)="fetchMoreProducts($event)">
            <ion-infinite-scroll-content
              loadingSpinner="bubbles"
              loadingText="جلب مزيد من المنتجات...">
            ></ion-infinite-scroll-content>
          </ion-infinite-scroll>

        -->

  </ion-card>
  <div *ngIf="userLocal">

    <button *ngIf="showContent == 'shelfs' && userLocal['level_id'] == 2" ion-button small (click)="navigateToPage('AddshelfPage')"
      class="float-button"> أضف رف</button>



    <button *ngIf="showContent == 'products' && userLocal['level_id'] == 3" ion-button small (click)="navigateToPage('AddproductPage')"
      class="float-button"> أضف منتج</button>
  </div>

  <ion-card id="notLggin" *ngIf="userLocal == null || userLocal == undefined">

    <button class="log-btn" (click)="navigateToPage('Login')">تسجيل الدخول</button><br>

    <button class="log-btn" (click)="navigateToPage('Signup')" color="light">تسجيل حساب جديد</button>
  </ion-card>
</ion-content>
