%flex-between {
    display: flex;
    justify-content: space-between;
}
page-profile {
    
    ion-header {
        ion-navbar {
            ion-title {
                .toolbar-title {
            font-size: 20px;
            color: color($colors, light) !important
          }
            }
        }
    }

    ion-content {
        button.pick-image {
            background: transparent;
            z-index: 165
        }
        &.content {
            background-color: color($colors, bgColor);
        }
        .clearfix {
            clear: both
        }
        ion-card {

            &:first-child {

            }

            margin: 0 !important;
            width : 100% !important;
            padding: 0 !important;
            box-shadow: none !important;
            overflow: visible;
            &.show-card {
                color: red;
                background: transparent !important;
                margin-top: 10px;
                text-align: center;
                box-shadow: none;

                ion-list {
                    margin-top: 4px;
                    background-color: transparent !important;
                    ion-item {
                        &:first-child {
                            border-top: none !important;
                        }
                        border-bottom: 1px solid #ddd !important;
                        height: 55px;
                        p {
                            color: color($colors, primary)
                        }
                        hr {
                            margin: 2px 0;
                            background:rgba(0, 0, 0, 0.1);
                            z-index: 15
                        }
                        .shelf-id {
                            display: flex;
                            justify-content: space-between;
                            p {
                                &:last-child {
                                    font-size: 12px;
                                }
                            }
                        }
                        .shelf-status {
                            display: flex;
                            justify-content: space-between;
                            margin-top: 0;
                            .reserved {
                                span {
                                font-size: 14px;
                                color: color($colors,primaryDark)
                            }
                            
                            }
                            .shelf-controls {
                            ion-icon {
                                color: color($colors, primaryDark);
                                margin-right: 10px;
                            }
                        }
                        }
                        
                    }
                }
                ion-grid {
                    padding-top: 5px !important;
                    ion-row {
                        flex-wrap: wrap;
                        ion-col {

                            margin-bottom: 5px;
                            padding: 2px;
                            &:last-child {
                                margin:0
                            }
                            .col-content {
                                min-height: 120px;
                                background-color: #fff;

                                img {
                                    width: 100%;
                                    height: 100px;
                                }
                                p {
                                    &.prod-desc {
                                        color: color($colors, primary); font-size: 12px;

                                    }
                                    &.price {
                                        margin:-12px auto;
                                    }

                                    text-align: right;
                                     padding: 6px;
                                }
                                a {
                                    font-size: 8px;
                                    display: block;
                                    text-align: left;
                                    padding: 0 6px

                                }
                            }
                        }
                    }
                }
            }
            &#notLggin {
                    border: none;
                    box-shadow: none;
                    background: transparent;
                    text-align: center;
                    transform: translateY(50%)
            }
            #hero {
            /*background: #517fa4;
            background: -webkit-linear-gradient(to right, #517fa4, #243949);
            background: linear-gradient(to right, #517fa4, #243949);*/

            background: linear-gradient(-45deg, #eee 0%, #eee 50%, #fff 51%, #fff) ;
            height: 120px;
            width: 100%;
            //box-shadow: inset  0 -5px 25px #999;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            /*padding-bottom: 10px;
            padding-left: 10px;*/
            img {
                width: 100%;
                height: 100%;
            }
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                position: relative;
                background:linear-gradient(to top, rgba(0, 0, 0, 0.5) 0%,rgba(0, 0, 0, 0.2) 10%,rgba(0, 0, 0, 0.15) 13%, transparent 50%);
                position: absolute;
            }
            button {
                position: absolute;
            }
              ion-icon {
                  margin: 0 0 10px 10px;
                color: #fff;
                text-shadow: 1px 1px #999;
                font-size: 20px;
              }
            }
            #page-segments {


            }
            ion-grid {
                ion-row {
                    ion-col{
                        ion-avatar {
                margin-top: -55px ;
                width: 70px;
                height: 70px;
                background-color: #ccc;
                border-radius: 50%;
                border: 3px solid color($colors, light);
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                box-shadow: 1px 1px 2px #999;
                button {
                    background-color: transparent;
                    position: absolute;
                    bottom: 0;
                    ion-icon {
                        color: color($colors, light);
                        font-size: 18px;
                    //font-weight: bold;
                     text-shadow: 1px 1px #555
                    }
                }
                img {
                    width:100%;
                    height: 100%;
                }

            }
            h4 {
                color: color($colors, light) ;
                text-shadow: 1px 1px 4px #444;
            }
                        button {
                            font-size: 12px;
                        }
                        &:last-child {
                            margin-top: -54px;
                        }
                    }
                }
            }
            #rank {
                color: color($colors, light);
                text-shadow: 1px 1px 4px #444;

            }
            #profile-buttons {
                margin: 10px 0;
                @extend %flex-between;
                button {
                    ion-icon {
                        margin-left: 4px;
                    }
                }
            }
            #profile-follow {
                @extend %flex-between;
                margin: -12px auto 6px !important;
                padding: 0 13px;
                a {
                    color: color($colors, primary);
                
                    span {
                      margin-right: 5px;
                    }

                }
            }

          


        }

.float-button {
            position: fixed;
            bottom: 60px;
            left: 10px;
            padding: 20px;
            box-shadow: 2px 2px 15px #888;
          }
    }
}
