<ion-header>
  <ion-navbar color="primary">

    <ion-title>
      الصفحة الرئيسية
    </ion-title>

  </ion-navbar>
</ion-header>

<ion-content>


  <!-- PlaceHolder if there is no sliders added-->
  <ion-slides *ngIf="SlidersErr||!Sliders" [pager]="SlidersErr"> 

    <ion-slide [hidden]="SlidersErr"></ion-slide>

    <ion-slide (click)="navToAdv('advertiseLink')">
      <img src="assets/img/adds_01.png" height='170' width="100%">
    </ion-slide>
    <ion-slide (click)="navToAdv('advertiseLink')">
      <img src="assets/img/adds_02.png" height='170' width="100%">
    </ion-slide>

  </ion-slides>



  <ion-slides *ngIf='!SlidersErr&&Sliders' pager="true" autoplay="5000" loop="true">
    
    <ion-slide *ngFor="let slide of Sliders" (click)="navToAdv(slide)">
      <img [src]="imagePath(slide.slide_image)" height='170'>
    </ion-slide>

  </ion-slides>


  <ion-grid id="surf">

    <h2 id="hero-header">الأقسام الرئيسية</h2>

    <ion-row>

      <ion-col (click)="navigateTo('StoresPage')" class="animate">
        <h4>متاجر</h4>
        <img src="assets/img/store-icon.png" alt="">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </ion-col>

      <ion-col (click)="navigateTo('Exporter')" class="animate">
        <h4>موردين</h4>
        <img src="assets/img/exporter-icon.png" alt="">
        <ion-icon name="arrow-dropleft-circle"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
