.no-side-margins {
    margin-left: 0;
    margin-right: 0;
}
* {
  font-family: 'jf-flat-regular';
}

page-home {
    ion-content {
      &.content {
    
        background-color: #eee
      }
       #modal-button{
      background-color: #fff;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2px 15px 2px 5px;
      height: 34px;
      line-height: 15px;
      .btn-icon {
        width: 30px;
        height:30px;
        border-left: 1px solid #ddd;
        text-align: right;
        ion-icon {
          font-size: 20px;
          line-height: 30px;
          font-weight: bold;
          color: color($colors, primary);
        }
      }
      #search-result{
        min-width: 100px;
        display: flex;
        //margin: 10px;
        flex-direction: row-reverse ;
        height: 30px;
        align-items: center;
        div {
        display: flex;
        //margin: 10px;
        flex-direction: row-reverse ;
        span {
          text-align: left;
            min-width: 50px;
            font-size: 10px;
          //background-color: blue;
          margin: 5px;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            right: -2px;
            top: -2px;
            width: 15px;
            border-radius: 2px;
            height: 15px;
            border: 1px solid transparent;
            box-shadow: 1px -1px #ececec;
            transform: rotate(45deg);
           // background-color: #888;
            border-top-color: #ddd;
            border-right-color: #ddd

          }
          &:last-child {
            &:after {
              content : '';
              display: none;

            }
          }
        }

        }
      }
    }

    ion-list {
      ion-item {
        h2 {
          display: flex;
          padding: 5px 0 5px 5px;
          justify-content: space-between;
          font-weight: bold;
          color: color($colors, primary)
        }
        .exporter-info {
          font-size: 13px;
          padding-left: 10px;
          //background-color: #ccc;
          display: flex;
          justify-content: space-between;

          .kilos, .stars {
            font-size: 14px;
            font-weight: bold;
            color: color($colors, primaryDark);
          }
      }
      }
    }

      #surf {
        h2#hero-header {
          text-align: center;
          color: color($colors, primary);
          font-weight: bold;
          font-size: 16px;
          margin-bottom: 18px;
          position: relative;
          margin-left: 0;

          &:after {
            content: '';
            position: absolute;
            width: 80px;
            height: 2px;
            background-color: color($colors, primary);
            box-shadow: 1px 1px color($colors, light);
            top: 50%;
            left: -5px;
          }
          &:before {
            @extend :after;
            right: -5px;


          }
        }
        ion-row {
          ion-col {
            margin: 10px;
            height: auto;
            flex-direction: column;
            justify-content: space-between;
            color: #333;
            background-color: color($colors, light);
            color: color($colors, primary);

            h4 {
              margin-top: 0px;
            }

            img {
              text-align: center;
              width: 80px;
              //height: 70px;
              display: block;
              margin: 0 auto;

            }
            ion-icon {
              font-size: 25px;
              //position: relative;
              //left: -50px;
              display: block;
              text-align: left
            }
            &:first-child {
              //background-color: dodgerblue;
              img {
                height: 56px
              }
            }
            &:last-child {
              //background: red;
            }

          }
        }
      }
      ion-slides {
        direction: ltr;
        height: 170px;
        ion-slide {
         direction: ltr;
          background-color: #ccc;
          height: 170px;
         
          img {
            width: 100% !important;
            height: 170px !important;
            margin-top:5px;
          }
        }
      }
    }

}
