page-addshelf {
    ion-header {
        ion-navbar {
            ion-title {
            .toolbar-title {
                //color: #fff !important
            }
            }
        }
    }
    ion-content {
        &.content {
            background: #eee;
            //background-color: color($colors, bgColor)
        }
       form {

        .form-group {
          padding: 5px 0;
          .form-control {
            width: 100%;
            background-color: rgba(255, 255, 255, 1);
            color: color($colors, primaryDark);
            padding: 7px 10px;
            border-radius: 5px;
            border: 1px solid transparent;
            font-size: 14px;

            &::-webkit-input-placeholder {
              color: #999 !important;
            }
            &.ng-valid {
                border: 1px solid green;
            }
        }
        }
         #form-button {
           position: fixed;
           bottom: 0;
           left: 0;
           height: 35px;
           font-size: 14px;
         }
       }
    }

}
