
<ion-header>

  <ion-navbar color="primary">
    <ion-title>{{actionText}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h3 text-center *ngIf=" actionText=='اضافة رف'"> 
     اضافة رف جديد
  </h3>

  <form novalidate [formGroup]="addShelfForm"
  (ngSubmit)="submitForm()">
    <div class="form-group">
      <input type="text"
      placeholder="رقم الرف"
      formControlName = "Name"
      class="form-control">
    </div>

    <div class="form-group">
      <input type="text" placeholder="مساحة الرف"
        formControlName="Area"
      class="form-control">
      <div class="identify-value">
        <span>متر</span>
      </div>
    </div>
    <div class="form-group">
      <input type="text" placeholder="ايجار الرف" class="form-control"
      formControlName ="Cost"
      >
      <div class="identify-value">
        <span>ريال</span>
      </div>
    </div>

    <div class="form-group">
      <input type="text" placeholder="نسبة على البيع" class="form-control" formControlName="salePercentage">
      <div class="identify-value">
        <span>%</span>
      </div>
    </div>
    <button id="form-button" ion-button full>
       {{actionText}}
       <hsa-loader *ngIf="showLoader" Color="light"></hsa-loader>
    </button>
  </form>

</ion-content>
