page-followers {
    ion-content {
      &.content {
        background: #eee
      }
      .small {
        margin-top: 0 !important;
        font-size: 10px;
        color: #666;
        background-color: #eee 
      }
       .err-small {
    font-size: 1.7rem;
    color: #666;
    text-shadow: 1px 1px #fff;
    position: absolute;
    top: 40%;
    width: 100%;
  }
      ion-refresher {
        ion-refresher-content {
          font-size: 12px !important;
          margin-top: 15px;
          color: #ccc !important
        }
      }
      ion-list {
        ion-item {
          border-bottom: 1px solid #eee !important;
          .item-inner {
            border-bottom: none !important;
          }
         
          ion-avatar {
            border-radius: 5px;
            // border: 1px dashed color($colors, primary);
            background-color: #eee;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            img {
              width: 50px !important;
              height: 50px !important;
              border-radius: 0 !important;
            }

          }
          p {
            color:color($colors, primary) !important;
          }
        }
      }
    }
}
