
page-contact {
  * {
    font-size: 13px;
  }  
  ion-item-divider {
      padding-right: 10px !important;
      height: 30px;
      color: color($colors, primaryDark) !important;

  }
  ion-header {
    ion-navbar {
        ion-title {
          .toolbar-title {
            font-size: 20px;
            color: color($colors, primary) !important
          }
        }
        ion-buttons {
          ion-icon {
            font-size: 20px
          }
        }
      }
    }
  
  ion-content {

    ion-item#hero {
      background: color($colors, light);
      height: auto;
      width: 100%;
      position: relative;

        h3 {
          font-weight: bold;
          margin-bottom: 0;
          color: color($colors, primary)
        }
        p {
          margin-top: -6px;
        }
        ion-avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 60px;
          height: 60px;
          overflow: hidden;
          border: 2px solid color($colors, primaryDark) ;
          ion-icon {
            margin: 10px 0 0 0;
            font-size: 75px;
            
          }
        }
      
    }
    .scroll-content {
      background-color: #eee;
      //padding-top: 0 !important;
    }
    ion-list {
        margin-top: 20px;
        .item-inner {
          border-bottom:0.5px solid color($colors, bgColor) !important
          }
          
       
        
      ion-item {
        color: color($colors, primaryDark) !important;
        font-weight:bold;
        padding-left: 13px;
        &.item-md:first-of-type {
          
        }
        &.item-ios {
          padding-left: 0;
        }
        ion-icon {
          margin: 0 0 0 15px ;
          font-size: 16px;
          &:last-of-type {
            font-size: 14px;
          }
        }
        .item-block {
          .item-inner {
            border-bottom:0
          }
        }

      }
    }
  }
  h4 {
    color: color($colors, primary);
    a {
      text-decoration: none;
      font-weight: bold;
    }
  }
}
