<ion-header>
  <ion-navbar color="light">
    <ion-title>
      الاعدادات
    </ion-title>
    <ion-buttons start>
        <button type="button" ion-button>
            <ion-icon name="search" color="primary"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-list *ngIf="!userHasLog" no-lines>
    <ion-item-group>
      <ion-item-divider color="bgColor"><br></ion-item-divider>
    </ion-item-group>

      <ion-item padding-left ion-item
      (click)="navigateToPage('Login')">
        <ion-icon name="open-outline" color="primary"></ion-icon>
        تسجيل الدخول
        <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>
      <ion-item padding-left ion-item
       (click)="navigateToPage('Signup')">
       <ion-icon name="add-circle-outline" color="primary"></ion-icon>
       تسجيل حساب جديد

        <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>
      <ion-item padding-left ion-item color="light" (click)="navigateToPage('Useterms')">
        <ion-icon name="folder-outline" color="primary"></ion-icon>سياسة الأستخدام

        <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>
      <ion-item padding-left ion-item color="light" (click)="navigateToPage('Contactus')">
        <ion-icon name="call-outline" color="primary"></ion-icon>اتصل
        بنا

        <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>
  </ion-list>



  <ion-list *ngIf="userHasLog">

    <ion-item no-lines id="hero">
      <ion-avatar item-left>
        <img *ngIf="userGender == 'female'" src="/assets/img/female-alt.png" >
        <img *ngIf="userGender == 'male'" src="/assets/img/male-alt.png" >
        <!--<ion-icon name="person" color="primaryDark"></ion-icon>-->

      </ion-avatar>
      <h3>{{userFullName}}</h3>
      <p>{{usersavedName}}</p>
    </ion-item>

    <ion-item-group no-lines>
      <ion-item-divider color="bgColor">الاعدادات</ion-item-divider>
      <ion-item padding-left ion-item
      (click)="navigateToPage('Editprofile')">
        <ion-icon name="settings-outline" color="primary"></ion-icon>
        تعديل البيانات الشخصية <ion-icon name="arrow-back" item-right></ion-icon></ion-item>
      <ion-item padding-left ion-item (click)="navigateToPage('Editprofile')">
        <ion-icon name="folder-open-outline" color="primary"></ion-icon>التقارير
        <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>
      <ion-item padding-left ion-item (click)="navigateToPage('Editprofile')">
        <ion-icon name="stats-outline" color="primary"></ion-icon>المبيعات

        <ion-icon name="arrow-back" item-right></ion-icon>
         </ion-item>
      <ion-item padding-left ion-item (click)="navigateToPage('Messages')">
        <ion-icon name="chatbubbles-outline" color="primary"></ion-icon>الرسائل

        <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>
        <ion-item padding-left ion-item (click)="navigateToPage('RecpermissionsPage')">
          <ion-icon name="paper-outline" color="primary"></ion-icon>اذون استلام مستحقات

          <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>
        <ion-item padding-left ion-item (click)="navigateToPage('RequestsPage')">
          <ion-icon name="git-branch" color="primary"></ion-icon>طلبات المستحقات

          <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>
    </ion-item-group>


    <ion-item-group no-lines>
      <ion-item-divider color="bgColor">التطبيق</ion-item-divider>
      <ion-item padding-left ion-item color="light" (click)="navigateToPage('Useterms')">
        <ion-icon name="folder-outline" color="primary"></ion-icon>سياسة الأستخدام

        <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>
      <ion-item padding-left ion-item color="light" (click)="navigateToPage('Contactus')">
        <ion-icon name="call-outline" color="primary"></ion-icon>اتصل
        بنا

        <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>
    </ion-item-group>
    <ion-item-group no-lines>
      <ion-item-divider color="bgColor">تسجيل الخروج

      </ion-item-divider>
      <ion-item ion-item (click)="logOut()">
        <ion-icon name="exit-outline" color="primary"></ion-icon>تسجيل الخروج</ion-item>
    </ion-item-group>


  </ion-list>

  <h4 text-center>Powered By <a href="http://it-plus.co/ar" target="_blank">ITPLUS</a></h4>
  <p text-center>v1.0.0</p>

</ion-content>
