<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      الاعدادات
    </ion-title>
    <ion-buttons start>
        <button type="button" ion-button>
            <ion-icon name="search" color="primary"></ion-icon>
        </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>


  <ion-list *ngIf="!userLocalData" no-lines>
    <ion-item-group>
      <ion-item-divider color="bgColor"><br></ion-item-divider>
    </ion-item-group>

      <ion-item padding-left ion-item
      (click)="navigateToPage('Login')">
        <ion-icon name="log-in-outline" color="primary"></ion-icon>
        تسجيل الدخول
        <ion-icon name="arrow-back" item-right color="primary"></ion-icon>
        </ion-item>
      <ion-item padding-left ion-item
       (click)="navigateToPage('Signup')">
       <ion-icon name="add-circle-outline" color="primary"></ion-icon>
       تسجيل حساب جديد

        <ion-icon name="arrow-back" item-right color="primary"></ion-icon>
        </ion-item>
      <ion-item padding-left ion-item color="light" (click)="navigateToPage('Useterms')">
        <ion-icon name="folder-outline" color="primary"></ion-icon>سياسة الأستخدام

        <ion-icon name="arrow-back" item-right color="primary"></ion-icon>
        </ion-item>
      <ion-item padding-left ion-item color="light" (click)="navigateToPage('Contactus')">
        <ion-icon name="call-outline" color="primary"></ion-icon>اتصل
        بنا

        <ion-icon name="arrow-back" item-right ></ion-icon>
        </ion-item>
  </ion-list>



  <ion-list *ngIf="userLocalData">

    <ion-item no-lines id="hero">
      <ion-avatar item-left>
        <img *ngIf = "userLocalData.avatar != '' ;else altImages" [src]="imagePath(userLocalData.avatar)" alt="">
        <ng-template #altImages>
          <img class="alt" *ngIf="userLocalData.gender == 'female'" src="assets/img/female-alt.png" >
          <img class="alt" *ngIf="userLocalData.gender == 'male'" src="assets/img/male-alt.png" >
        </ng-template>
      </ion-avatar>
      <h3>{{ userLocalData.name }}</h3>
      <p>{{ userLocalData.username}}</p>
    </ion-item>

    <ion-item-group no-lines>
      <ion-item-divider color="bgColor">الاعدادات</ion-item-divider>

      <ion-item padding-left ion-item
      (click)="navigateToPage('Editprofile')">

        <ion-icon name="settings-outline" color="primary"></ion-icon>

        تعديل البيانات الشخصية
        <ion-icon name="arrow-back" item-right></ion-icon>
      </ion-item>

       <ion-item hidden padding-left ion-item
       (click)="navigateToPage('ReportsPage')">
        <ion-icon name="folder-open-outline" color="primary"></ion-icon>
        التقارير
        <ion-icon name="arrow-back" item-right></ion-icon>
      </ion-item>

      <ion-item padding-left ion-item
       *ngIf="userLocalData['level_id'] != 4"
       (click)="navigateToPage('SalesPage')">
        <ion-icon name="stats-outline" color="primary"></ion-icon>
        <span *ngIf="userLocalData.level_id == 2">الفواتير</span>
        <span *ngIf="userLocalData.level_id == 3">المبيعات</span>

        <ion-icon name="arrow-back" item-right></ion-icon>
      </ion-item>

      <ion-item padding-left ion-item
      (click)="navigateToPage('Messages')">
        <ion-icon name="chatbubbles-outline" color="primary"></ion-icon>
        الرسائل

        <ion-icon name="arrow-back" item-right></ion-icon>
      </ion-item>

      <ion-item padding-left ion-item hidden (click)="navigateToPage('RecpermissionsPage')">
          <ion-icon name="paper-outline" color="primary"></ion-icon>
          اذون استلام مستحقات

          <ion-icon name="arrow-back" item-right></ion-icon>
      </ion-item>


        <ion-item  padding-left  *ngIf="userLocalData['level_id'] == 3" ion-item (click)="navigateToPage('RequestsPage')">
          <ion-icon name="git-branch" color="primary"></ion-icon>
          مستحقاتى
          <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>

        <ion-item padding-left *ngIf="userLocalData['level_id'] == 3" ion-item (click)="navigateToPage('ReservedshelfsPage')">
          <ion-icon name="ios-albums-outline" color="primary"></ion-icon>
          طلبات الرفوف
          <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>


        <ion-item padding-left *ngIf="userLocalData['level_id'] == 3 " ion-item (click)="navigateToPage('DeliverproductsPage')">
          <ion-icon name="md-clipboard" color="primary"></ion-icon>
         طلبات تسليم منتجات
          <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>

    </ion-item-group>

    <ion-item-group no-lines>
      <ion-item-divider color="bgColor">التطبيق</ion-item-divider>
      <ion-item padding-left ion-item color="light" (click)="navigateToPage('Useterms')">
        <ion-icon name="folder-outline" color="primary"></ion-icon>سياسة الأستخدام

        <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>
      <ion-item padding-left ion-item color="light" (click)="navigateToPage('Contactus')">
        <ion-icon name="call-outline" color="primary"></ion-icon>اتصل
        بنا

        <ion-icon name="arrow-back" item-right></ion-icon>
        </ion-item>
    </ion-item-group>
    <ion-item-group no-lines>
      <ion-item-divider color="bgColor">تسجيل الخروج

      </ion-item-divider>
      <ion-item ion-item (click)="logOut()">
        <ion-icon name="exit-outline" color="primary"></ion-icon>تسجيل الخروج</ion-item>
    </ion-item-group>


  </ion-list>
  <p text-center no-margin>

  <button ion-button clear class="powered" (click)="openTabBrowser('http://it-plus.co/ar')" >

    <span>&nbsp;ITPLUS&nbsp;</span>
    Powered By



  </button>

  </p>

  <!-- TODO: view App version
  <p text-center>v1.0.0</p>-->

</ion-content>
