
page-contact {
  * {
    font-size: 15px;
  }
  ion-item-divider {
      padding-right: 10px !important;
      height: 30px;
      color: color($colors, primaryDark) !important;

  }

  ion-content {
    &.content {
      background-color: color($colors, bgColor);
      //padding-top: 0 !important;
    }
    ion-item#hero {
      background: color($colors, light);
      height: auto;
      width: 100%;
      position: relative;

        h3 {
          //font-weight: bold;
          font-size: 16px;
          margin-bottom: 0;
          color: color($colors, primary)
        }
        p {
          margin-top: 0;
        }
        ion-avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 60px;
          height: 60px;
         /* width: 60px;
          height: 60px;*/
          overflow: hidden;
          border: 2px solid color($colors, primaryDark) ;
          img {
            width: 45px !important;
            height: auto
          }

        }

    }


    ion-list {
        margin-top: 20px;
        .item-inner {
          border-bottom:0.5px solid color($colors, bgColor) !important
          }



      ion-item {
        color: color($colors, primaryDark) !important;
        font-weight:bold;
        padding-left: 13px;
        &.item-md:first-of-type {

        }
        &.item-ios {
          padding-left: 0;
        }
        ion-icon {
          margin: 0 0 0 15px ;
          font-size: 15px;
          &:last-of-type {
            font-size: 18px;
            line-height:28px;
          }
        }
        .item-block {
          .item-inner {
            border-bottom:0
          }
        }

      }
    }
  }
  h4 {
    color: color($colors, primary);
    a {
      text-decoration: none;
      font-weight: bold;
    }
    &+p {
      color: #999;
      margin-top: -8px;
      font-size: 11px
    }
  }

}
