
page-contact {
  * {
    font-size: 12px;
  }  

  ion-content {
    direction: rtl;

    #hero {
      background: #517fa4;
      background: -webkit-linear-gradient(to right, #517fa4, #243949);
      background: linear-gradient(to right, #517fa4, #243949);
      height: 100px;
      width: 100%;
      position: relative;

      //box-shadow: inset  0 -5px 25px #999;
    }
    .scroll-content {
      background-color: skyblue;
      padding-top: 0 !important;
    }
    ion-list {

      ion-item {

        &.item-md:first-of-type {
          
        }
        &.item-md {
          direction: rtl;
          background-color: transparent;
          text-align: right;
        }

        .item-block {
          .item-inner {
            border-bottom:0
          }
        }
        ion-avatar {
          width: 60px;
          height: 60px;
          background: #999; /* fallback for old browsers */
          border-radius: 50%
        }
        ion-label {
          font-weight: bold;
        }
        ion-icon {
          color: #999
        }
        h1 {
          color: #555;
          margin-top: -5px;
          text-shadow: 1px 1px #333;
        }
      }
    }
  }
}
