page-showmessage {

  ion-content {
    &.content {
      background-color: $bgColor;
    }.float-btn {
       position: fixed;
       bottom: 0;
       left:0;
       border-radius: 0;
       margin: 0;
     }
     p {
     &.primary {
       color: color($colors, primary) !important
     }
     }
     ion-item#hero {
      background: color($colors, light);
      height: auto;
      width: 100%;
      position: relative;

        h3 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          //font-weight: bold;
          font-size: 16px;
          margin-bottom: 2px;
          color: color($colors, primary);

          .since-time {
            color: #666;
            font-size: 12px;
          }
        }
        p {
          margin-top: 0;
          font-size: 12px !important;
          white-space: normal;
        }
        ion-avatar {
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          width: 50px;
          height: 50px;
          background: linear-gradient(to right,#fff 0%, #fff 50% , #ddd 50%);
          overflow: hidden;
          border: 2px solid color($colors, primaryDark) ;
          img {
            width: 100% !important;
            height: 100% !important;
            //height: auto;
            &.alt {
              width: 45px !important;
            }
          }

        }

    }
  }
}
