<!--
  Generated template for the ShowmessagePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>عرض الرسالة</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

<ion-list>
<!--
    <ion-item no-lines id="hero" (click)="openProfile()">
      <ion-avatar item-left>
        <img *ngIf="pageData.avatar != '' ;else altImages" [src]="imagePath(pageData.avatar)" alt="profile image">
        <ng-template #altImages>
          <img class="alt" *ngIf="pageData.gender == 'female'" src="assets/img/female-alt.png">
          <img class="alt" *ngIf="pageData.gender == 'male'" src="assets/img/male-alt.png">
        </ng-template>
      </ion-avatar>
      <h3 >
        <span>{{ pageData.name }}</span>
        <span class="since-time">منذ
        {{pageData.date_added | sincedate}}
      </span>
      </h3>
    </ion-item>
-->
    <ion-item>
      <ion-label class="primary">عنوان الرسالة</ion-label>
      <ion-label> {{pageData.mail_title}} </ion-label>
    </ion-item>
     <ion-item margin-top margin-right class="msg">
       <ion-avatar item-right>
         <img *ngIf="pageData.avatar != '' ;else altImages" [src]="imagePath(pageData.avatar)" alt="profile image">
         <ng-template #altImages>
           <img class="alt" *ngIf="pageData.gender == 'female'" src="assets/img/female-alt.png">
           <img class="alt" *ngIf="pageData.gender == 'male'" src="assets/img/male-alt.png">
         </ng-template>
       </ion-avatar>
      <p> {{pageData.mail_body}} </p>

    </ion-item>
  <ion-item margin-top  margin-right class="msg msg-left me" *ngFor="let reply of messageReplies">
    <p>{{reply.mail_body}}</p>
    <span item-right class="small">منذ {{reply.date_added | sincedate}}</span>
  </ion-item>

</ion-list>

  <section class="float-btn">
    <input type="text" #mailbody placeholder="الرد على الرسالة">
    <button ion-button block full  (click)="reply(mailbody.value);(mailbody.value)?mailbody.value='':false">رد</button>
  </section>

</ion-content>
