// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
$content-padding: 13px;
$content-margin: 9px;
$searchbar-ios-background-color: #eee;

@font-face {
    font-family: 'jf-flat-regular';
    src: url('../assets/fonts/jf-flat-regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/





// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #2e8bc9,
  bgPrimary: #008bff,
  secondary:  #32db64,
  danger:     #f53d3d,
  warning: #ffe8bf,
  yellow: #e4c01a,
  light:      #ffffff,
  highlight: #f5f5f5,
  dark:       #222,
  primaryDark: #666,
  lightDark : #ccc,
  bgColor: #eee 
);
$toolbar-ios-border-color: transparent;
$refresher-height: 40px ;
$refresher-text-font-size: 10px;
$refresher-icon-font-size	: 20px;
$refresher-text-color: #666;
$tabs-ios-background: #fff;
$tabs-tab-color-active: #2e8bc9 !important;
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

/*
$tabs-ios-border-color: transparent !important;
$tabs-ios-tab-text-color:#666 !important;
$tabs-ios-tab-icon-color: #666 !important;

$tabs-ios-tab-text-color-active: #2e8bc9 !important;

$tabs-ios-tab-icon-color-active: #2e8bc9 !important;
*/
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
