// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.danger-toast {
    .toast-container {

    background-color: crimson
    }
}
.tabs-ios-primary .tab-button[aria-selected=true] {
    box-shadow: inset 0 1px color($colors, primary);
}
.ios #page-segments {
  padding-bottom: 8px;
  padding-top: 8px;

}
.ios #profile-follow {
  margin: -6px auto ;
}
.md #page-segments {
  padding: 13px 0 0 0 ;

  margin-bottom: 5px;
}

.md .card h4 {
  color: color($colors, light);
}
.md .toolbar .toolbar-title {
  text-align: center;
}

#main-tabs {
    .tabbar {
        //height: 40px !important;
        a {
            //height: 40px !important;
            &.tab-button[aria-selected=true] {
                box-shadow: 0 -2px color($colors, primary);
            }
            &.tab-button {
                //min-height: 40px !important;
            }
            ion-icon {
                margin-top: 2px;
                font-size: 28px;

            }
            span {
                margin-top: -5px
            }
        }
    }

}
/*
.tabs-ios-primary .tab-button[aria-selected=true] {
   // box-shadow: inset 0 -3px #fff;;
   color: color($colors, primary) ;
   background: radial-gradient(#fff, #eee);
    ion-icon   {
       color: color($colors, primary) !important;
   }

}
*/
 .item-inner {
    background: none !important;
}

ion-header {
    ion-navbar {
        .toolbar-background-ios {
            border-color: rgba(0,0,0,.1) !important;
        }
        ion-title {
          .toolbar-title {
            font-size: 20px;
            color: color($colors, primary) !important
          }
        }
    }
}
