page-addproduct {
  ion-content {
    &.content {
      background: #eee;
      //background-color: color($colors, bgColor)
    }
    ion-datetime {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 5px;
      }
    }
    form {
      margin-bottom: 100px;
      .form-group {
        padding: 5px;
        position: relative;
          &.prod-photo {
            margin-top: 5px;
            background:color($colors, light);
            display: flex;
            justify-content: space-between;
            height: auto;
            
            color: #999;
            border-radius: 5px;
            margin-bottom: 5px;
            //padding-left: 8px;
            .images {
              direction: ltr;
              display: flex;
              flex-flow: wrap;
              //flex-direction: row;
              justify-content: flex-start;
              min-width: 100%;
              
              .image {
                //margin-right: 8px;
                min-width: 33%;
                max-width: 33%;
                
                //width: 33%;
                height: 30vw;
                border-radius: 2px;
                overflow: hidden;
                padding: 2px;;position: relative;
                background-origin: content-box;
                
                transition: opacity 0.2s ease-in;
                &.bg-rad {
                  background: radial-gradient(#eee,#ddd);
                }
                &:last-of-type{
                  background: transparent;
                  order: 999;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: column;
                  ion-icon {
                    font-size: 35px;
                  }
                  p {
                    margin: 0;
                    color: #666
                  }
                }
                progress-bar {
                  position: absolute;
                  bottom: 0;
                  left: 0;
                  width: 96%;
                  transform: translateX(2%);
                  
                }
                &.uploaded {

                  opacity: 1;
                }
                .img {
                  min-width: 100%;
                  height: 100%;
                  opacity: 0.8;//background-color: #E3E3E3;
                  transition: opacity 0.2s ease-in;
                  //margin-right: 4px;
                  &.uploaded {
                    opacity: 1;
                  }
                }
                p {
                  &.progress {
                    width: 40px;
                    position: absolute;
                    top: 30%;
                    color: #666;
                    left: calc( 50% - 20px);
                    z-index: 999;
                  }
                }
                ion-icon {
                  &.close-icon {
                    width: 20px;
                    height: 20px;
                    background-color: rgba(255, 255, 255, 0.8);
                    text-align: center;
                    line-height: 23px;
                    border-radius: 50%;
                    z-index: 5;
                    position: absolute;
                    top: 5px;
                    right: 5px;
                  }
                  
                }
                img {
                  width: 100%;
                  height: 100%;
                  opacity: 0.8;
                  transition: opacity 0.2s ease-in;
                  //margin-right: 4px;
                  &.uploaded {
                    opacity: 1;
                  }
                }
                
              }
              .image-btn {
                min-width: 33%;
                height: 30vw;
                order: 5464;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                //border-left: 1px dotted #eee;
                //width: 40%;
                ion-icon {
                  font-size: 35px;
                }
                p {
                  margin: 0;
                  color: #666
                }
              }
            }
            
            .image-btn {
              order: -1;
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 40%;
              ion-icon {
                font-size: 35px;
              }
              p {
                margin: 0;
                color: #666
              }
            }

            .images-viewer {
              width: 100%;
              border-right: 1px dotted #eee;
              //background-color: #abc;
                  //box-shadow: inset 17px 0 15px #dadada;
              word-wrap: initial;
              overflow-x: scroll;
              overflow-y: hidden;
              direction: ltr;

              .image {
                direction: ltr;
                padding: 10px 20px;
                width:60%
              }
            }
            /*
            .images-viewer {
              //display: inline-flex;
              width: 120px;
              overflow-y: auto;
              overflow-x: hidden;
              transform: rotate(-90deg) translateY(-100%);
              transform-origin: right top;
              height: 250px;
              .image {
                width: calc(100vw - 20px);
                height: 100%;
                position: relative;
                display:block;
                //padding:5px;
                //background:#cab;
                 transform-origin: right top;
                  transform: rotate(90deg) translateX(250px);
                  padding-right: 10px;
                img {
                  height: 100%;
                }
              }
            }
            */

          }
          textarea {
            height: auto !important;
            resize: none;
          }
        .form-control {
          width: 100%;
          position: relative;
          background-color: rgba(255, 255, 255, 1);
          color: color($colors, primaryDark);
          padding: 7px 10px;
          border-radius: 5px;
          border: 1px solid #ddd;
            font-size: 14px;
            border-bottom: 1px solid #ddd;

          transition: border-bottom 0.3s ease-in;

          &::-webkit-input-placeholder {
            color: #999 !important;
          }
          &.ng-valid {
                border-bottom: 1px solid #bfffd2;
            }
            &.ng-dirty.ng-invalid {
                border-bottom: 1px solid #ffe8bf;
            }
        }
        .identify-value {
                position: absolute;
                left: 5px;
                z-index: 10;
                top: 5px;
                box-sizing: border-box;
                color: color($colors, primaryDark);
                height: 33px !important;
                background-color: #f4f4f4;
                width: 50px;
                border-right: 1px solid #eee;
                 text-align: center;
                 border-radius: 5px 0 0 5px;
                 border: 1px solid #ddd;
                span {
                    line-height: 32px;

                }
            }


      }

      #form-button {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 40px;
        font-size: 14px;
        margin: 0;
      }
    }
  }
}
