page-addproduct {
  ion-content {
    &.content {
      background: #eee;
      //background-color: color($colors, bgColor)
    }
    
    form {
      ion-datetime {
        .datetime-text {
          //direction: ltr
        }
      }
      .form-group {
        padding: 5px 0;
        position: relative;
          &.prod-photo {
            background:color($colors, light);
            display: flex;
            justify-content: center;
            height: 120px;
            color: #999;
            border-radius: 5px;
            margin-bottom: 5px;
            .image-btn {
              display: flex;
              justify-content: center;
              align-items: center;
              flex-direction: column;
              width: 40%;
              ion-icon {
                font-size: 35px;
              }
              p {
                margin: 0
              }
            }
            .images-viewer {
              display: flex;
              word-wrap: normal;
              .image {
                margin-right: 5px;
                display: inline;
                img {
                  height: 100%;
                }
              }
            }
            
          }
          textarea {
            height: auto !important;
            resize: none;
          }
        .form-control {
          width: 100%;
          
          background-color: rgba(255, 255, 255, 1);
          color: color($colors, primaryDark);
          padding: 7px 10px;
          border-radius: 5px;
          border: 1px solid #ddd;
            font-size: 14px;
            border-bottom: 1px solid #ddd;

          transition: border-bottom 0.3s ease-in;

          &::-webkit-input-placeholder {
            color: #999 !important;
          }
          &.ng-valid {
                border-bottom: 1px solid #bfffd2;
            }
            &.ng-dirty.ng-invalid {
                border-bottom: 1px solid #ffe8bf;
            }
        }
        .identify-value {
                position: absolute;
                left: 0;
                z-index: 10;
                top: 5px;
                box-sizing: border-box;
                color: color($colors, primaryDark);
                height: 40px;
                background-color: #f4f4f4;
                width: 50px;
                border-right: 1px solid #eee;
                 text-align: center;
                 border-radius: 5px 0 0 5px;
                 border: 1px solid #ddd;
                span {
                    line-height: 40px;
                   
                }
            }


      }

      #form-button {
        position: fixed;
        bottom: 0;
        left: 0;
        height: 40px;
        font-size: 14px;
        margin: 0;
      }
    }
  }
}
