page-messages {
  ion-content {
    .scroll-content {
      //background-color: #eee;
    }
    ion-list {
      ion-item {
        ion-avatar {
        background: url(/assets/img/male-alt.png);
        background-size: cover;
        background-size: 100% 96%;
        border-radius: 5px;

      }
      h4 {
            margin-top: -5px !important;
        color: color($colors, primary);
      }
      p {
            margin-top: -5px !important
      }
      }
    }
  }

  ion-content#offline {
    .scroll-content {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    ion-icon {
      font-size: 60px;
      color: #ccc
    }
  }
}
