
<ion-header>

  <ion-navbar color="primary">
    <ion-title> الرسائل</ion-title>
  </ion-navbar>

</ion-header>



<ion-content  *ngIf="isOnline == true">
  <ion-list>
    <ion-item (click)="openMessage('MessagePage')">
      <ion-avatar item-left>
<!--
        <img *ngIf = "userImageUrl;else altImages" [src]="userImageUrl" alt="profile image">
        <ng-template #altImages>
          <img *ngIf="userGender == 'female'" src="/assets/img/female-alt.png" >
          <img *ngIf="userGender == 'male'" src="/assets/img/male-alt.png" >
        </ng-template>
        -->
        <!--Alternate image url while the data from serve is ready-->
        <img src="assets/img/male-alt.png"  alt="male">
      </ion-avatar>
      <div class="message-sender">

        <h4>محمد أحمد</h4>

        <div class="message-et">
          <ion-icon name="timer-outline"></ion-icon>
          منذ
          <span>يومان</span>
        </div>
      </div>
      <p>بسم الله الرحمن الرحيم وعليه نتوكل المرجو العلم من الرسالة</p>
    </ion-item>
<ion-item (click)="openMessage('MessagePage')">
  <ion-avatar item-left>
    <img src="assets/img/male-alt.png"  alt="male">
  </ion-avatar>
  <div class="message-sender">

    <h4>محمد أحمد</h4>

    <div class="message-et">
      <ion-icon name="timer-outline"></ion-icon>
      منذ
      <span>يومان</span>
    </div>
  </div>
  <p>بسم الله الرحمن الرحيم وعليه نتوكل المرجو العلم من الرسالة</p>
</ion-item>

<ion-item (click)="openMessage('MessagePage')">
  <ion-avatar item-left>
    <img src="assets/img/male-alt.png"  alt="male">
  </ion-avatar>
  <div class="message-sender">

    <h4>محمد أحمد</h4>

    <div class="message-et">
      <ion-icon name="timer-outline"></ion-icon>
      منذ
      <span>يومان</span>
    </div>
  </div>
  <p>بسم الله الرحمن الرحيم وعليه نتوكل المرجو العلم من الرسالة</p>
</ion-item>

<ion-item (click)="openMessage('sender Mohamed Ahmed ')">
  <ion-avatar item-left>
    <img src="assets/img/male-alt.png"  alt="male">
  </ion-avatar>
  <div class="message-sender">

    <h4>محمد أحمد</h4>

    <div class="message-et">
      <ion-icon name="timer-outline"></ion-icon>
      منذ
      <span>يومان</span>
    </div>
  </div>
  <p>بسم الله الرحمن الرحيم وعليه نتوكل المرجو العلم من الرسالة</p>

</ion-item>

<ion-item (click)="openMessage('message hi to all')">
  <ion-avatar item-left>
    <img src="assets/img/male-alt.png"  alt="male">
  </ion-avatar>
  <div class="message-sender">

    <h4>محمد أحمد</h4>

    <div class="message-et">
      <ion-icon name="timer-outline"></ion-icon>
      منذ
      <span>يومان</span>
    </div>
  </div>
  <p>بسم الله الرحمن الرحيم وعليه نتوكل المرجو العلم من الرسالة</p>
</ion-item>
  </ion-list>
</ion-content>


