page-notifications {

    ion-content {

        &#offline {
            .scroll-content {
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            ion-icon {
      font-size: 60px;
      color: #ccc
    }

     }

    }
}
