page-notifications {

  ion-header {
        ion-navbar {
            ion-title {
                .toolbar-title {
            font-size: 20px;
            color: color($colors, light) !important
          }
            }
        }
    }
  ion-content {
    .scroll-content {
      background-color: #eee;
    }
    ion-list {
      ion-item {
        border-bottom: 1px solid #eee !important;
        .item-inner {
          border-bottom: none !important;
        }
        ion-avatar {
          border-radius: 5px;
          border: 1px dashed color($colors, primary);
          width: 50px;
          height: 50px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .message-sender {
          display: flex;
          justify-content: space-between;
          h4 {
            //margin-top: -5px !important;
            color: color($colors, primary);
          }
          .message-et {
            font-size: 12px;
            color: color($colors, lightDark)
          }
        }

        p {
          height: 45px;
          white-space: pre-wrap;
          //line-height: 15px;
        }
      }
    }
  }

  #offline {
    
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;

    ion-icon {
      font-size: 60px;
      color: #ccc
    }
  }
}
