page-merchant {
  ion-content {
    #search {
      position: absolute;
      top: 10px;
      right: 10px;
      z-index:2;
      font-size: 25px
    }
   
  }
  ion-content#offline {
    .content {
        text-align: center;

        justify-content: center;
        align-items: center;
    }
    
    ion-icon {
      font-size: 60px;
      color: #ccc
    }
  }
}
