
<ion-header>

  <ion-navbar color="primary">
    <ion-title>فحص المنتج</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <button block color="primary" ion-button (click)="scanBarcode()" >
    افحص الباركود
    &nbsp; &nbsp;<ion-icon name="search"></ion-icon>
  </button>
  <ion-list>
  <ion-item-sliding>
    <ion-item>
      ادخل الكود يدويا
    

    </ion-item>
    <ion-item-options side="right">
      <button ion-button >Unread</button>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>
  <ion-card *ngIf="showData" margin-top>
    <h4 text-center color="primary">
      نتائج فحص الباركود
    </h4>
    <br>
    <div *ngFor="let result of BarcodeResult">
      <p text-left>Bracode Link: <a [attr.href]="result['text']">{{result['text']}}</a></p>
      <br>
      <p text-left>
        {{result | json}}
      </p>
      <hr>
    </div>

  </ion-card>



</ion-content>
