
<ion-header>

  <ion-navbar color="primary">
    <ion-title>فحص المنتج</ion-title>
    <ion-buttons start >
      
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar no-padding>
     <button no-margin block  full ion-button (click)="scanBarcode()" >
    افحص الباركود
    &nbsp; &nbsp;<ion-icon name="search"></ion-icon>
  </button>

  </ion-toolbar>
<span class="or-text">ادخل الرقم  يدويا</span>
  <ion-toolbar class="toolbar-btn">
    <button ion-button no-margin color="primary" (click)="scanEnteredBarcode(enetredcode.value)">نفذ 
      <ion-spinner *ngIf="showLoader" small name="crescent" color="light"></ion-spinner>
    </button>
    
    <input type="number" (keyup)="keepItNumber(enetredcode.value)" #enetredcode placeholder=" رقم الباركود">


  </ion-toolbar>

</ion-header>


<ion-content no-padding>



  <!--
  <ion-list>
  <ion-item-sliding>
    <ion-item text-center color="primary">
      ادخل الكود يدويا


    </ion-item>
    <ion-item-options side="right">
      <ion-input type="text" #inputCode></ion-input>
    </ion-item-options>
  </ion-item-sliding>
</ion-list>

-->


    <!--
    <ion-card *ngFor="let result of BarcodeResult">
      <p text-left>Bracode Link: <a [attr.href]="result['text']">{{result['text']}}</a></p>
      <br>
      <p text-left>
        {{result | json}}
      </p>
      <hr>
    </ion-card>
    -->

  <p text-center class="err-small" *ngIf="!showData">
    افحص الباركود لاضافه فاتورة
    <span text-center [hidden]="userLocal"><br>يرجى تسجيل الدخول اولاً</span>
  </p>
    <div  *ngIf="showData" class="bill-title">

    <h6  color="primary">
      نتائج فحص الباركود
    </h6>
    <h6>
      اجمالى الفاتورة
      <ion-badge color="lightDark"><span class="animate">{{billTotal}}</span> ريال</ion-badge>

    </h6>
    </div>
    <ion-card  (tap)="swipeEvent($event)" class="product-scanned" *ngFor="let productScanned of AllScanedProducts">
    <!--<ion-card no-margin margin-bottom>-->
      <ion-grid no-padding >
        <ion-row>
          <ion-col col-8 class="col-info">
            <p><ion-icon color="primaryDark" name="archive"></ion-icon> &nbsp;
              {{productScanned.item_name}} </p>
            <p><ion-icon color="primaryDark" name="pricetags"></ion-icon> &nbsp;
              {{productScanned.item_price}}
              ريال
            </p>
          </ion-col>
          <ion-col col-4 class="col-price">
            <p text-center>الكمية</p>
            <div class="quantity-controls">
            <button class="decreaseQuantity" color="light" ion-button small (click)="increaseQuantity(productScanned)"><ion-icon name="add" color="primary"></ion-icon></button>
            <!-- <ion-datetime class="quantity-value" displayFormat="s" pickerFormat="s" [(ngModel)]="timeStarts"></ion-datetime> -->
            <input (input)="changeValue($event, productScanned)" [value]="productScanned.item_quantity" type="number"
                   class="quantity-value">
            <button class="increaseQuantity" color="light" ion-button small (click)="decreaseQuantity(productScanned)"><ion-icon name="remove" color="primary"></ion-icon></button>
          </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>



    <button  *ngIf="showData && userLocal.level_id == 2" [disabled]="isDisabled" class="bottom-btn" ion-button color="primary" full (click)="addBill()">
      اضف فاتورة&nbsp;
      <hsa-loader *ngIf="sendshowLoader" Color="light"></hsa-loader>
    </button>
</ion-content>
