<ion-header>

  <ion-navbar color="primary">
    <ion-title>طلب حجز رف</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>

    <ion-item no-lines id="hero">
      <ion-avatar item-left>
        <img *ngIf="pageData.avatar != '' ;else altImages" [src]="pageData.avatar" alt="profile image">
        <ng-template #altImages>
          <img class="alt" *ngIf="pageData.gender == 'female'" src="assets/img/female-alt.png">
          <img class="alt" *ngIf="pageData.gender == 'male'" src="assets/img/male-alt.png">
        </ng-template>
      </ion-avatar>
      <h3 (click)="navigateToPage('VprofilePage', pageData.send_user_id)">
        <span>{{ pageData.name }}</span>
        <span class="since-time">منذ
        {{pageData.date_added | sincedate}}
      </span>
      </h3>
      <p>{{ pageData.notifiy_message}}</p>
    </ion-item>



    <p text-center *ngIf="showLoader">
      <hsa-loader></hsa-loader>
    </p>
    <p class="small" text-center *ngIf="noShelf">
      لا يوجد رف
    </p>
    <section>

      <ion-item-group *ngIf="showShelfList">
        <ion-item padding-left ion-item>
          <ion-grid>
            <ion-row>

              <ion-col col-4>
                رقم الرف
              </ion-col>
              <ion-col col-8>
                {{shelfData.name}}
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item padding-left ion-item>
          <ion-grid>
            <ion-row>

              <ion-col col-4>
                مساحة الرف
              </ion-col>
              <ion-col col-8>
                {{shelfData.area}} متر
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
        <ion-item padding-left ion-item>
          <ion-grid>
            <ion-row>

              <ion-col col-4>
                سعر الرف
              </ion-col>
              <ion-col col-8>
                {{shelfData.cost}} ريال
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>

        <ion-item margin-top>
          <ion-label>طلب بداية الحجز</ion-label>

          <ion-label> {{shelfData.start_date| date:'longDate' | arabicdate }} </ion-label>

        </ion-item>
        <ion-item>
          <ion-label>طلب نهاية الحجز</ion-label>
          <ion-label>{{shelfData.end_date | date:'longDate' | arabicdate}}</ion-label>
        </ion-item>
        <section id="float-btn" *ngIf="(shelfData.shelf_status == 0 && shelfData.percentage_status == 0)||shelfData.shelf_status == 0&&userLocal.level_id==2">
          <button color="primary" (click)="sendReplyRequest()">موافقة</button>
          <button color="danger" (click)="sendReplyRequest(false)">رفض</button>
        </section>

        <ion-card id="sales-percentage" *ngIf="shelfData.shelf_status == 0&&shelfData.percentage_status == 0&&userLocal.level_id == 2">
          <h2 text-center>طلب نسبة على البيع</h2>
          <!--<input type="text" placeholder="نسبة البيع"> -->
          <ion-range min="0" max="100" step=".5" pin="true" value="0" [(ngModel)]="salesPercentage"></ion-range>
          <p text-center>
            <button ion-button small (click)="sendPercentage()">
        ارسال للحصول على الموافقة
      </button>
          </p>
        </ion-card>

        <section *ngIf="pageData.type!='addSalesPercentage'&&shelfData.shelf_status == 1" id="sales-percentage">
          <h4 text-center><br> لقد تم  قبول طلب الحجز
          </h4>
          <h5 text-center *ngIf="shelfData.percentage_status == 1">
            على نسبة بيع {{shelfData.sale_percentage}} %
          </h5>
        </section>
        <section *ngIf="pageData.type!='addSalesPercentage'&&shelfData.shelf_status == 2" id="sales-percentage"><br>
          <h4 text-center>
            لقد تم رفض طلب الحجز           </h4>

          <h5 text-center *ngIf="shelfData.percentage_status == 2">
            على نسبة بيع {{shelfData.sale_percentage}} %
          </h5>
        </section>

        <section *ngIf="pageData.type=='addSalesPercentage'" id="sales-percentage">

          <h5 text-center *ngIf="shelfData.percentage_status == 1">تمت الموافقة على</h5>
          <h5 text-center *ngIf="shelfData.percentage_status == 2">تم رفض</h5>

          <h4 text-center>

            نسبة البيع المطلوبة

          </h4>

          <h1 text-center>
            {{shelfData.sale_percentage}} %
          </h1>


          <p class="small" text-center *ngIf="shelfData.percentage_status == 1&&userLocal.level_id == 3">
            فى انتظار موافقة <b>{{ pageData.name}}</b>
          </p>
        </section>
      </ion-item-group>
    </section>
  </ion-list>
</ion-content>
