
page-stores {
$content-padding : 14px;
$content-margin-bottom: 5px;
ion-content {
    &.content {
        background-color: #eeeeee
      }
 #modal-button{
      background-color: #fff;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 2px 15px 2px 5px;
      height: 34px;
      line-height: 15px;
      .btn-icon {
        width: 30px;
        height:30px;
        border-left: 1px solid #ddd;
        text-align: right;
        ion-icon {
          font-size: 20px;
          line-height: 30px;
          font-weight: bold;
          color: color($colors, primary);
        }
      }
 }
      #search-result{
        min-width: 100px;
        width: 100%;
        //display: flex;
        //margin: 10px;
        //flex-direction: row-reverse ;
        height: 30px;
        //align-items: center;
        div.no-data {
            display: flex;
            justify-content: space-between;
            flex-direction: flex-end;
            width: 100%;
            height:100%;
            align-items: center;
            box-sizing: border-box;
            padding: 0 15px;
            color: color($colors, primary)
        }
        div.found-data {
            width: 100%;
            height: 100%;
            align-items: center;
            display: flex;
            //margin: 10px;
            flex-direction: row ;

        span {
          text-align: right;
            min-width: 50px;
            font-size: 10px;
          //background-color: blue;
          margin: 5px;
          color: #777;
          position: relative;

          &:after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 12px;
            border-radius: 2px;
            height: 12px;
            border: 1px solid transparent;
           // box-shadow: 1px -1px #ececec;
            transform: rotate(45deg);
           // background-color: #888;
            //border-top-color: #ddd;
            border-bottom-color: color($colors, primary);
            border-left-color: color($colors, primary);
            //border-right-color: #ddd

          }
          &:last-child {
            &:after {
              content : '';
              display: none;
            }
          }
        }

        }
      }


      ion-list {
      ion-item {
        h2 {
          display: flex;
          padding: 5px 0 5px 5px;
          justify-content: space-between;
          font-weight: bold;
          color: color($colors, primary)
        }
        .exporter-info {
          font-size: 13px;
          padding-left: 10px;
          //background-color: #ccc;
          display: flex;
          justify-content: space-between;

          .kilos, .stars {
            font-size: 14px;
            font-weight: bold;
            color: color($colors, primaryDark);
          }
      }
      }
    }
}

}
