

<ion-content padding-horizontal>
  <section id="form-navigate">
  <ion-buttons start>
    <button ion-button (click)="backStep()">
      <ion-icon name="arrow-forward"></ion-icon>
    </button>
  </ion-buttons>
</section>
<br>
  <section id="hero-logo">
    <!--<h2>LOGO</h2>-->
    <img src="/assets/img/mainlogo.png" width="100" alt="">
  </section>

  <form
    novalidate
    [formGroup]="SignUpFrom"
    (ngSubmit)="SubmitForm()"
  >
    <section id="pager">
      <div class="dot"
           [ngClass]="{active: csPage==1}"
            (click)="csPage=1;lastPage=null"
      ></div>
      <div class="dot"
           [ngClass]="{active: csPage==2}"
           (click)="csPage=2;lastPage=null"
      ></div>
      <div class="dot"
           [ngClass]="{active: csPage==3}"
           (click)="csPage=3;lastPage = 'أضف حساب جديد'"
      ></div>
    </section>

    <div class="step" [ngClass]="{shownPage: csPage== 1}">
 
      <div class = "form-group">
        <input type="text" class="form-control"
          placeholder="اسم المستخدم"
        formControlName="Username"
        >
      </div>

      <div class = "form-group">
        <input type="password"
        placeholder="كلمة المرور"
        class="form-control"
        formControlName="Password">
      </div>

      <div class = "form-group">
        <input type="password"
        placeholder="تأكيد كلمة المرور"
        class="form-control"
        formControlName = "InsurePassword"
         >
      </div>

      <div class = "form-group">
        <input type="text" class="form-control" formControlName="Name"
        placeholder="الاسم بالكامل"
        >
      </div>

      <div class = "form-group">
        <input type="email" class="form-control" 
        formControlName="Email"
          placeholder="البريد الالكترونى"
        >
      </div>
        <div class = "form-group">
        <input type="text" class="form-control" formControlName="Mobile"
          placeholder="رقم التليفون المحمول"        >
      </div>

      <div id="radio-group" class="form-group group-bg">
        <div class="radio-group gender">

        <input type="radio"  formControlName='Gender' value="male" id="gender-male">
        <label for="gender-male">
          <!--<ion-icon name="person" color="primaryDark"></ion-icon>-->
          <img *ngIf="SignUpFrom.getRawValue()['Gender'] == 'male'" src="../../assets/img/male-active.png" >
          <img *ngIf="SignUpFrom.getRawValue()['Gender'] == 'female'" src="../../assets/img/male-inactive.png" >
          <!--<p>ذكر</p>-->
        </label>
        </div>
        <div  class="radio-group gender">

        <input type="radio" formControlName='Gender' value="female" id="gender-female">
  <label for="gender-female">
          <!--<ion-icon name="woman" ></ion-icon>-->
          <img *ngIf="SignUpFrom.getRawValue()['Gender'] == 'male'" src="../../assets/img/female-inactive.png" >
          <img *ngIf="SignUpFrom.getRawValue()['Gender'] == 'female'" src="../../assets/img/female-active.png" >
          <!--<p>انثى</p>-->
        </label>
          </div>
              </div>

    </div>

    <div class="step" [ngClass]="{shownPage: csPage== 2}">
      
      <h5 text-center style="color: #fff">من فضلك قم باختيار نوع العميل</h5>
      <div id="radio-group" class="form-group">
        <div class="radio-group  ">
          <div class="almostwidth group-bg">
            <input type="radio" id="store" formControlName="level_id" value="2">
            <label for="store">متجر<ion-icon name="person"></ion-icon></label>

          </div>
        </div>
        <div class="radio-group  ">
          <div class="almostwidth group-bg">
            <input type="radio" id="client" formControlName="level_id" value="3">
            <label for="client">عميل<ion-icon name="person"></ion-icon></label>

          </div>
        </div>
        <div class="radio-group ">
          <div class="almostwidth group-bg">

          <input type="radio" id="exporter" formControlName="level_id" value="4">
            <label for="exporter">مورد<ion-icon name="person"></ion-icon></label>
          </div>
        </div>
      </div>
    </div>


    <div class="step" [ngClass]="{shownPage: csPage== 3}">
      <br>
      <div class="select-group">
          <div (click)="openModal('Area', 0)">

            {{AreaName || 'المنطة'}}
            <ion-icon name="arrow-down" ></ion-icon>
            <input type="text" formControlName="Area">
            </div>
          <div (click)="openModal('City', SignUpFrom.getRawValue()['Area'])">{{CityName || 'المدينة'}}

            <ion-icon name="arrow-down" ></ion-icon>
            <input type="text" formControlName="City">
          </div>
          <div (click)="openModal('Dist',SignUpFrom.getRawValue()['City'])">{{DistName || 'الحى'}}
            <ion-icon name="arrow-down"></ion-icon>
            <input type="text" 
            formControlName="Dist" id="dist" 
            [required]= 'SignUpFrom.value.level_id == 2'>
          </div>

      </div>

      <div class="form-group">
        <input type="text" class="form-control" formControlName="Address"
          [hidden]="SignUpFrom.value.level_id == 3"
          placeholder="العنوان" 
          [required]= 'SignUpFrom.value.level_id !=3'       >
      </div>
      <div class="form-group">
        <input *ngIf="SignUpFrom.value.level_id == 2" type="text" class="form-control"
          placeholder="رقم السجل التجارى"        
          
          formControlName="cr_num">
      </div>
      <div class="form-group">
        <input *ngIf="SignUpFrom.value.level_id == 2" type="text" class="form-control"
          placeholder="اسم مدير المنتج" 
          formControlName='owner_name'       >
      </div>


    </div>




    <button *ngIf="lastPage && csPage ==3" block ion-button type="submit">{{lastPage}}</button>
  </form>

  <button
        margin-top
        *ngIf="!lastPage"
         block
         (click)="toNextPage()"
        id="next-button"
      >{{lastPage || "التالى" }}
      <div id="loader" *ngIf="showLoader">
            <div class="loader-circle"></div>
        </div>
  </button>
<!--
<ion-card padding>
  {{SignUpFrom.getRawValue()['Gender'] | json}}
  {{SignUpFrom.getRawValue()['Area']}}
    <pre>
    <h6>show All Form Data [Test Only]</h6>
    {{SignUpFrom.value | json}}
  </pre>

 </ion-card>

-->

</ion-content>
