page-signup {
   * {
     //transition: all .35s ease-in;
   }
   ion-list.showPage {
     /*
          animation: slide 0.5s ;
          animation-fill-mode: forwards;
          align-items: center;*/
          display: block
        }
  ion-content {
    direction: rtl;
    text-align: right;
    &.content {
      background: linear-gradient(#00BCD4,#27a397);
      background-color: #eee;
    }
    &.scroll-content {
          background: linear-gradient(to right,#425863,#506b79);
    }
    ion-tabs {
    #main-tabs {
        div.tabbar.show-tabbar {
        opacity: 0;
      }
    }
      
      .tabbar {
        display: none;
      }
      .tabs-md .tabbar 
      {
       display: none
      }
    }
    ion-select {
      min-width: 80px;
    }

    form {
      #pager {
        display: flex;
        justify-content: center;

        .dot {
          border-radius: 50%;
          width: 15px;
          height: 15px;
          background-color: #eee;
          margin: 5px;
          &.active {
            background-color: #ff5b67
          }
        }
        &.step {
          display: none
        }
      }
      
      div.step, ion-list.step {
        transition: all .3s ease-in;
        display: none;
       // transform: translateX(-120%);
      }
      div.shownPage, ion-list.showPage {
         /* animation: slide 0.5s ;
          animation-fill-mode: forwards;
          align-items: center;*/
          display: block
        }
        @keyframes slide {
          from {
            transform: translateX(-120%)
          }
          to{
            transform: translateX(0);
            
          }
          
        }
      .form-group {
        padding: 5px 0;
        .form-control {
          width: 100%;
          padding: 7px 10px;
          border-radius: 5px;
          border: 1px solid #eee
        } 

      }
      #radio-group {
        display: flex;
        align-content: center;
        
        border-radius: 5px;
        &.group-bg {
          background-color: #fff;
        }
        .radio-group {
          width: 50%;
          text-align: center;
          justify-content: center;
          display: flex;
          flex-direction: column;
          align-items: center;
          &.group-bg {
          background-color: #fff;
        }
        .almostwidth {
          width: 90% !important;
          background-color: #fff;
          border-radius: 5px;
          padding: 5px;
          border: 1px solid #ddd;
          ion-icon {
            font-size: 12px;
            color: #ccc;
            margin: 5px
          }
        }
          label {
            width: 100%;
            ion-icon {
              font-size: 60px;
            }
            p {
              font-size: 10px;
              margin-top: -5px;
            }
          }
          input[type='radio'] {
            opacity: 0;
            display: none
          }
          input[type='radio']:checked  ~ label ion-icon{
            color: #396dca;
          }
          input[type='radio']:checked ~ label {
            color: #396dca;
          }
        }
        
      }
      ion-list {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
       

        ion-item {
          ion-list {
            height: 200px;
          }
        }
        &.list-md {
          background-color: #eee;
        }

        &.shownPage {
          display: block;
          align-items: center;
        }
      }
    }
  }}
