<!--
  Generated template for the ReservedshelfsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>طلبات الرفوف</ion-title>
  </ion-navbar>

</ion-header>


<ion-content >
  

  <p text-center>
    <hsa-loader *ngIf="showLoader"></hsa-loader>
  </p>

  <p text-center *ngIf="noRequests" class="err-small">
    لم يتم اجراء اى طلبات للرفوف حتى الان
  </p>

  <ion-list *ngIf="AllRequests">
    <ion-list-header> كل الطلبات</ion-list-header>
    <ion-item *ngFor="let request of AllRequests">
      <p>
         رقم الرف :
        <span>

          {{request.shelf_name}}
        </span>
        <span >
          &nbsp; &gt; &nbsp; 
          {{request.matger_name}}
        </span>
        <span>
<ion-badge [color]="(request.shelf_status == 1)?'primary':((request.shelf_status == 2)?'danger':'bgColor')" item-left>
  <span *ngIf="request.shelf_status == 1">قبول</span>
  <span *ngIf="request.shelf_status == 2">رفض</span>
  <span *ngIf="request.shelf_status == 0">معلق</span>

</ion-badge>
        </span>
        
      </p>
      
      <p>
        <span>
         <span class="prim">بداية الحجز :</span>

          {{request.start_date | date}}
        </span>
        <span>
        <span class="prim">نهاية الحجز :</span>

           {{request.end_date | date}}
        </span>
      </p>
      
    </ion-item>

  </ion-list>
</ion-content>


<!--
<ion-item>
  <p>
    رقم الرف :
    <span>

          52154
        </span>
    <span>
          &nbsp; &gt; &nbsp; 
          متاجر كيوبا
        </span>
  </p>
  <p>
    <span>
         <span class="prim">المساحة :</span> 100 متر
    </span>
    <span>
        <span class="prim">السعر :</span> 200 ريال
    </span>
  </p>

</ion-item>

<ion-item>
  <p>
    رقم الرف :
    <span>

          52154
        </span>
    <span>
          &nbsp; &gt; &nbsp; 
          متاجر كيوبا
        </span>
  </p>
  <p>
    <span>
         <span class="prim">المساحة :</span> 100 متر
    </span>
    <span>
        <span class="prim">السعر :</span> 200 ريال
    </span>
  </p>

</ion-item>

<ion-item>
  <p>
    رقم الرف :
    <span>

          52154
        </span>
    <span>
          &nbsp; &gt; &nbsp; 
          متاجر كيوبا
        </span>
  </p>
  <p>
    <span>
         <span class="prim">المساحة :</span> 100 متر
    </span>
    <span>
        <span class="prim">السعر :</span> 200 ريال
    </span>
  </p>

</ion-item>

<ion-item>
  <p>
    رقم الرف :
    <span>

          52154
        </span>
    <span>
          &nbsp; &gt; &nbsp; 
          متاجر كيوبا
        </span>
  </p>
  <p>
    <span>
         <span class="prim">المساحة :</span> 100 متر
    </span>
    <span>
        <span class="prim">السعر :</span> 200 ريال
    </span>
  </p>

</ion-item>

<ion-item>
  <p>
    رقم الرف :
    <span>

          52154
        </span>
    <span>
          &nbsp; &gt; &nbsp; 
          متاجر كيوبا
        </span>
  </p>
  <p>
    <span>
         <span class="prim">المساحة :</span> 100 متر
    </span>
    <span>
        <span class="prim">السعر :</span> 200 ريال
    </span>
  </p>

</ion-item>

  -->